@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;

@oldlyme-light-green: #a7b8a7;
@oldlyme-middle-light-green: #b8cab8;
@oldlyme-green: #729272;
@oldlyme-dark-green: #4d6c4d;

@oldlyme-tan: #ddd8cf;
@oldlyme-middle-tan: #e4d8c5;
@oldlyme-offwhite: #f8f6ea;


@header-height: 150px;
@header-logo-height: 140px;

// Page Background Variables
@body-bg: @oldlyme-offwhite;
@content-bg: @oldlyme-offwhite;
@body-bg-resp: @oldlyme-tan;


//@home-search-top-color: @oldlyme-middle-light-green; //Top color for background gradient in header
//@home-search-bottom-color: @oldlyme-light-green;
@home-search-top-color: @oldlyme-light-green; //Top color for background gradient in header
@home-search-bottom-color: @oldlyme-green;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @oldlyme-light-green;
@menu-bar-selected-background-color: @oldlyme-dark-green;

@header-top-color: @oldlyme-offwhite; //Top color for background gradient in header
@header-middle-color: @oldlyme-offwhite; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: @oldlyme-offwhite; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: @oldlyme-offwhite;
@footer-top-border-color: @oldlyme-green;


@header-buttons-background-color : @oldlyme-middle-tan;

@btn-primary-bg: @oldlyme-dark-green;

@category1MainColor: @oldlyme-offwhite;
@categoryLineColor: @oldlyme-offwhite;
@categoryLineShadow: @oldlyme-offwhite;
@selectedCategoryBorderColor: @oldlyme-offwhite;

@browse-header-background-color: @oldlyme-offwhite;
@browseCarouselControlBackgroundColor: @oldlyme-offwhite;
@browseCarouselControlColor: @oldlyme-dark-green;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @oldlyme-middle-tan;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;
@selectedSubCategoryFontColor: #6e6864;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @lion-dark-blue;
@browse-category-text-color: @lion-dark-blue;
@selected-browse-label-search-color: @lion-dark-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @oldlyme-green;