// Core variables and mixins
@import (reference) "../../responsive/css/variables.less";
@import (reference) "variables.less";

// Always include the base .less file
@import "../../responsive/css/responsive_base.less";

// Main Styling for Pine River Library

#header-container{
  background-image: url('/interface/themes/pineriver/images/header_background.png');
  background-repeat: no-repeat;
}

//.header-login-button-mixin(fade(@pineriverlightblue, 40%));
.header-login-button-mixin;


#header-logo{
//  padding-top: 0;
  display: none;
}


// mixin to select all the typical states of <a> like tags
.allLinkstates(@rules) {
  &, &:hover, &:active, &:visited {
    @rules();
  }
}

// Browse Category Arrows
#browse-category-picker {
  .jcarousel-control-prev, .jcarousel-control-next {
    background-color: #fff;
    color: @pineriverbrown;
    .box-shadow(none);

    &:active, &:hover {
      color: @pineriverlightblue;
    }
  }

  // indicator dots at bottom of browse category carousel
  .jcarousel-pagination a {
    &.active {
      background: @pineriverbrown;
      // keep shadowing in place on active item
      .box-shadow(0 0 2px #4E443C);
    }
    &:hover, &:active{
      background: @pineriverlightblue;
    }
//    .allLinkstates({
//      outline: none;
//    })
  }
}

.library-header-link {
  .allLinkstates({color: white;});


}
.header-link-wrapper {
  background-color: rgba(51,51,51,0.6);
  border-right: none;
}
#header-links {
  margin-top: 10px;
}