@redrocks-red: #770B0B;

@home-search-top-color: @redrocks-red;
@home-search-bottom-color: @redrocks-red;
@footer-top-border-color: @redrocks-red;

@category1MainColor: @redrocks-red;
@categoryLineColor: #FFF;
@categoryLineShadow: darken(#FFF, 20%);

@menu-bar-background-color: @redrocks-red;
//@menu-bar-selected-background-color: #FFF;
@menu-bar-selected-background-color: #CCC;  // Use a light gray for now so that test & image can be seen on older browsers
//@menu-bar-selected-color: @redrocks-red;
@menu-bar-selected-color: #666; // Use darkgray for font; matches inverted shade of icon when it is selected