@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;


@coe-darkgreen: #0B5954;
@coe-text-green: #1a5f50;
@coe-lighter-green: #1a716b;

@coe-light-blue: #D9E7E6;

@coe-orange: #edd2bc;
@coe-text-red: #af3b3b;



@library-display-name-color: @coe-text-green;

@header-height: 150px;
@header-logo-height: @header-height;

// Page Background Variables
//@body-bg: @santafe-easier-to-read-white;
//@content-bg: @santafe-easier-to-read-white;
//@body-bg-resp: @brainerd-tan;


@home-search-top-color: @coe-lighter-green;
@home-search-bottom-color: @coe-darkgreen;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @coe-lighter-green;
@menu-bar-selected-background-color: @coe-darkgreen;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: @lion-dark-blue;
@footer-top-border-color: @lion-dark-blue;

@header-bottom-border-width: 3px;

@header-buttons-background-color : @coe-lighter-green;

@btn-primary-bg: @coe-darkgreen;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @coe-text-red;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @coe-orange;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @coe-text-red;
@browse-category-text-color: @coe-text-green;
@selected-browse-label-search-color: @coe-text-green;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @coe-lighter-green;