// Variables Customizations for Grand County Library District



// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: lighten(@category1MainColor, 14%); //softer touch
