//@lion-light-blue: #9dd1f2;
//@lion-dark-blue: #130840;
//@lion-menu-blue: #74C1F2;

@nhaven-light-purple: #93639D;
@nhaven-dark-purple: #7A258C;
@nhaven-menu-gray: #AAAAAA;
@nhaven-medium-gray: #919191;
@nhaven-dark-gray: #5D5D5D;
@nhaven-black: #242323;





@header-height: 150px;
@header-logo-height: @header-height;

@home-search-top-color: @nhaven-medium-gray; //Top color for background gradient in header
@home-search-bottom-color: @nhaven-menu-gray;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @nhaven-menu-gray;
@menu-bar-selected-background-color: @nhaven-dark-purple;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: #fff;
@footer-top-border-color: @nhaven-light-purple;


@header-buttons-background-color : @nhaven-dark-gray;

@btn-primary-bg: @nhaven-dark-purple;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @nhaven-dark-purple;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @nhaven-dark-gray;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @nhaven-black;
@browse-category-text-color: #242323;
@selected-browse-label-search-color: @nhaven-black;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @nhaven-dark-gray;