# Specific locations within Aspen Discovery to exclude from git   #
# Files are excluded either because                               #
#  - they contain sensitive data (i.e. passwords)                 #
#  - they can change at runtime                                   #
#  - they can be easily downloaded or are machine specfic         #
###################################################################
tmp
sites/*/backup
sites/*/conf/log4j.*.properties
sites/*/conf/passkey
!sites/default/conf/log4j.properties
!sites/default/backup
sites/default/solr5/docs/*
sites/default/solr5/example/*
sites/default/solr5/licenses/*
sites/default/solr5/logs/*
sites/default/solr5/tmp/*
sites/default/solr5/server/logs/*
sites/default/solr5/server/tmp/*
sites/default/solr5/server/solr/configsets/*
code/aspen_app/.expo/**
code/aspen_app/.expo-shared/**
code/aspen_app/node_modules/**
code/web/interface/cache/*
code/web/interface/compile/*
code/web/phpinfo.php
code/web/images/fiveStar/*
code/web/images/charts/*
code/web/repository_images/*
code/web/files/medium/*
code/web/files/thumbnail/*
code/web/files/original/*
code/web/google*.html
code/web/getWorkIdUpdates.php
code/web/sitemaps/*.xml
code/web/sitemaps/*.txt
code/web/node_modules
tests/jmeter/results/*
tests/selenium/*
tests/conf/config.ini
data-import
config.pwd.ini
*.csv
author_authorities.properties.temp
author_authorities.v1.properties
hcl_solr_bib_export.properties
horizon_export.properties
*.pid
*.port
sites/default/solr/jetty/logs/*
sites/default/solr-7.6.0/logs/*
sites/default/solr-7.6.0/server/logs/*
sites/default/solr-7.6.0/server/tmp/*
install/templates/*
.vscode

# Compiled source #                                                                                   
###################
*.com
*.class
*.o
*.so

# Unneeded files that are large or built at runtime #
#####################################################
III_Telnet_Extract.pl
LexileTitles.txt

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# Logs and databases #
######################
sites/default/solr/jetty/logs
*.log
*.log.1
*.log.2
*.log.3
*.log.4
*.log.5
*.sqlite

# MARC records #
################
*.mrc
*.marc

# IDE Files #
#################
.buildpath
.project
.classpath
org.eclipse.*.prefs
*.css.map
.settings/
out/
workspace.xml

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
~$*.docx
~$*.doc
documentation/~*.tmp
# Word Tempory File
.vagrant/

# Dreamweaver Files #
#####################
[_]notes/
*.LCK

# File-watcher mishaps #
########################
*.min.min.js

# Marmot Symbolic Links #
#########################
sites/*.marmot.org
!sites/opac.marmot.org/
#re-include the marmot production directory

# Aspencat Symbolic Links #
###########################
sites/*catalog.aspencat.info

# Flatirons Symbolic Links #
############################
sites/*.flatironslibrary.org
sites/*.boulderlibrary.org
sites/*.flatironsconsortium.org

# Lion Symbolic Links #
#######################
sites/*.lionlibraries.org

# Nashville Symbolic Links #
############################
sites/170.190.30.108
sites/170.190.30.180
sites/170.190.30.38
sites/*.library.nashville.org

# Nashville CarlX Tools #
########################
code/web/services/CarlXTools
code/web/interface/themes/nashville_resp/CarlXTools

# Other stuff #
###############
sites/marmot.localhost/sql_backup/marmot_econtent.sql
sites/marmot.localhost/sql_backup/marmot_vufind.sql
sites/arlington.localhost/sql_backup/arlington_econtent.sql
main.tmpcss

code/web/fonts/HalisR-Regular.otf
code/web/fonts/HalisR-S-Regular.otf
code/web/migrations/importResults.txt
.idea/aspen-discovery.iml
.idea/*.xml
.idea/dataSources/**
sites/demo.localhost/conf/config.cron.ini
sites/demo.localhost/conf/config.ini
sites/demo.localhost/conf/crontab_settings.txt
sites/demo.localhost/demo.localhost.sh
sites/demo.localhost/httpd-demo.localhost.conf
code/web/.idea/watcherTasks.xml
code/web/.idea/workspace.xml
code/web/.idea/workspace.xml
code/web/.idea/watcherTasks.xml
code/web/fonts/IndieFlower-Regular.ttf
code/web/fonts/KleeOne-SemiBold.ttf
code/aspen_app/package-lock.json
data_dir_setup/update_solr_files.sh
code/web/.idea/workspace.xml
sites/demo.localhost/demo.localhost.bat
code/aspen_app/.env
code/aspen_app/.idea/aspen_app.iml
code/aspen_app/.idea/workspace.xml
code/web/.idea/dataSources.local.xml
code/web/.idea/php.xml
code/web/.idea/workspace.xml
code/aspen_app/app-configs/app.lida.json
code/aspen_app/app-configs/app.lida-production.json
code/web/cron/fetchMarc.ini
code/cron/.idea/*
code/web/.idea/*
code/aspen_app/.idea/*
install/createSite.ini
sites/morgan.localhost/conf/config.cron.ini
sites/morgan.localhost/conf/config.ini
sites/morgan.localhost/conf/config.pwd.ini.template
sites/morgan.localhost/httpd-morgan.localhost.conf
sites/morgan.localhost/morgan.localhost.bat
.idea/scopes/_less_files.xml
sites/kodidev.localhost/conf/config.cron.ini
sites/kodidev.localhost/conf/config.ini
sites/kodidev.localhost/httpd-kodidev.localhost.conf
sites/kodidev.localhost/kodidev.localhost.bat
sites/roundrock.localhost/conf/config.ini
sites/roundrock.localhost/httpd-roundrock.localhost.conf
code/aspen_app/.run/Update EAS.run.xml
code/aspen_app/.run/Update Aspen LiDA Instance.run.xml
code/aspen_app/.run/Start Aspen LiDA Instance.run.xml
*.default
code/aspen_app/updateInternal.sh
code/aspen_app/updateEASInternal.sh
code/aspen_app/startInternal.sh
install/createSiteSettings.ini
code/aspen_app/credentials.json
code/web/services/Authentication/SAML/certs/*
code/web/.idea/dataSources.xml
code/web/.idea/dataSources.local.xml
code/aspen_app/startTestApp.sh
code/aspen_app/updateEASTestApps.sh
code/aspen_app/updateTestApps.sh
