[Unit]
Description=Aspen Discovery Solr Service
After=network.target

[Service]
Type=simple
User=solr
ExecStart=/usr/local/aspen-discovery/sites/basinlibraries.production/basinlibraries.production.sh start
ExecStop=/usr/local/aspen-discovery/sites/basinlibraries.production/basinlibraries.production.sh stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
