body {
  color: #404040;
  direction: RTL;
}
#content-container {
  padding: 0;
}
@media (max-width: 768px) {
  #content-container {
    width: auto;
  }
}
@media (min-width: 768px) {
  #content-container {
    width: 100%;
  }
}
hr.menu {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 0;
  border-top: 1px solid #d3d3d3;
}
.breadcrumbs {
  background-color: #f5f5f5;
  padding: 3px;
  margin-top: 4.6px;
}
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "";
  padding: 0 5px;
  color: #ccc;
}
#system-message-header {
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  padding: 3px;
}
.system-message {
  padding: 5px;
}
.system-message-text {
  display: inline-block;
}
.dismissable-system-message-text {
  width: calc(100% - 30px);
}
#header-wrapper {
  padding-top: 0;
  background-color: #f2f2f2;
  margin-bottom: 0;
  padding-bottom: 1em;
}
#header-wrapper.fullWidth {
  padding: 1em;
}
@media (max-width: 479px) {
  #header-logo-container {
    text-align: center;
  }
}
#header-logo {
  padding: 10px 10px 0 0;
}
@media (max-width: 767px) {
  #header-logo {
    max-width: 100%;
    height: auto;
  }
}
#horizontal-menu-bar-container {
  background-color: #f2f2f2;
  border-bottom: 8px solid #b7b7b7;
}
.availableLanguage {
  display: inline-block;
  padding-left: 10px;
}
#menuToggleButton,
.menuToggleButton a.menu-bar {
  width: 36px;
  display: inline-block;
  text-align: center;
}
#select-language.dropdown-menu {
  right: unset;
  left: 0;
  overflow: hidden;
}
#menuToggleButton.selected {
  background-color: #ededed;
}
.dropdownMenu {
  display: none;
  position: absolute;
  background-color: #ededed;
  min-width: 220px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 3;
}
#header-menu {
  right: unset;
  left: 0;
  background-color: #ededed;
  min-width: 250px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 3;
  top: 35px;
  margin: 0;
  overflow: hidden;
}
#header-menu #logoutLink {
  margin-top: 1em;
}
.header-menu-option {
  margin-bottom: 3px;
  cursor: pointer;
}
.header-menu-option i + span {
  margin-right: 0.5em;
}
#account-menu {
  right: unset;
  left: 0;
  background-color: #ededed;
  min-width: 220px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 3;
  top: 35px;
  margin: 0;
  overflow: hidden;
}
#accountMenuToggleButton.selected {
  background-color: #ededed;
}
.childMenuItem {
  margin-right: 15px;
}
.header-menu-section {
  margin-bottom: 3px;
  cursor: pointer;
}
#aspenLanguagesMenuSection {
  font-weight: bold;
  margin-top: 1em;
}
.header-menu-option.languageSelect {
  margin-right: 2em;
}
.header-menu-option.languageSelected {
  margin-right: 0.5em;
}
#library-name-header {
  font-size: 26px;
  color: #8b8b8b;
  font-weight: bold;
  white-space: normal;
  padding-top: 5px;
}
#header-links {
  text-align: center;
}
#header-links .header-link-wrapper:last-of-type {
  border-left: 0 solid black;
}
.header-link-wrapper {
  display: inline-block;
  padding: 2px 15px;
  border-left: 1px solid #0078ae;
}
.header-link-wrapper a {
  font-size: 16px;
}
#footer-container {
  border-top: 8px solid #088ec6;
  padding-top: 3px;
  margin-top: 1em;
  min-height: 150px;
}
@media screen and (max-width: 767px) {
  #footer-container {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 991px) {
  #footer-container {
    padding-right: 40px;
  }
}
#install-info {
  padding-right: 20px;
}
#connect-with-us-info {
  padding-left: 20px;
}
#connect-with-us-label {
  margin-left: 15px;
}
.connect-icon {
  padding: 0 3px 0 3px;
  color: inherit !important;
}
#navigation-controls {
  border-top: 8px solid #088ec6;
  background: #fff;
}
@media print {
  #navigation-controls {
    display: none !important;
  }
}
.menu-bar {
  color: #FFF;
  background-color: #00a4e3;
}
@media print {
  #horizontal-menu-bar-wrapper {
    display: none;
  }
}
#horizontal-menu-bar-container {
  display: flex;
  flex-direction: row;
}
#horizontal-menu-bar-container .menu-section {
  display: block;
}
#horizontal-menu-bar-container .menu-icon {
  line-height: 16px;
  display: inline-block;
  padding: 12px 5px 7px 5px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 16px;
}
#horizontal-menu-bar-container .menu-icon:visited,
#horizontal-menu-bar-container .menu-icon:hover,
#horizontal-menu-bar-container .menu-icon:focus {
  text-decoration: none;
  outline: none;
}
#horizontal-menu-bar-container .menu-icon .menu-bar-label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-right: 5px;
  text-align: right;
  display: inline-block;
}
#horizontal-menu-bar-container.fullWidth {
  padding: 0 1em 0 1em;
}
.menu-section-left {
  flex-grow: 10;
}
.menu-section-right {
  align-self: flex-end;
}
@media print {
  #side-bar {
    display: none;
  }
}
@media (max-width: 767px) {
  #side-bar {
    display: none;
  }
}
#main-content-with-sidebar {
  padding-bottom: 15px;
}
@media print {
  #main-content-with-sidebar {
    width: 100%;
    display: block !important;
  }
}
.jcarousel ul > li {
  text-align: center;
}
.jcarousel .thumbnail img {
  max-height: 125px !important;
}
#sectionLabel {
  width: 100%;
  background-color: #dcf3fb;
  color: #137DE2;
  text-transform: capitalize;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  font-size: 16px;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.required-input {
  color: #c62828;
}
.hiddenTitle {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px, 1px, 1px, 1px);
}
#language-selection-header {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}
.translation_id {
  border: 1px solid dimgrey;
  margin-right: 2px;
  padding: 1px;
  font-size: 10px;
  vertical-align: super !important;
  background-color: white;
  color: darkslategrey;
}
.translated {
  background-color: lightgreen;
}
.not_translated {
  background-color: lightpink;
}
.form-control-sm {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #555555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-inline select.form-control-sm {
  width: auto;
}
.form-inline .form-control-sm {
  display: inline-block;
}
.navbar-skinny {
  min-height: auto;
  margin-bottom: 0;
}
.badge {
  font-size: 10px;
  text-indent: 0;
}
ul.account-submenu {
  list-style: none;
  margin-right: 0;
  padding-right: 1em;
  text-indent: -1em;
}
.btn-wrap {
  white-space: normal !important;
}
.label-wrap {
  white-space: normal !important;
}
.placard {
  border: 1px solid #bbb;
  background-color: #f0f5f5;
  padding: 10px;
  margin: 5px;
}
a.placard-link {
  text-decoration: none;
}
.placard-image {
  float: right;
  padding-left: 10px;
  max-width: 100%;
  height: auto;
}
.placard-body {
  font-weight: bold;
}
.table-sticky {
  overflow-y: auto;
}
.table-sticky thead tr th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}
.rd-container {
  z-index: 1055;
}
#webMenuNavBar {
  background-color: #00a4e3;
  color: #ffffff;
  border: 0;
  border-top: solid #ffffff 2px;
  border-radius: 0;
  min-height: auto;
}
#webMenuNavBar .nav > li > a,
#webMenuNavBar .nav > li > a:visited {
  color: #ffffff;
  padding: 7px 10px;
}
#webMenuNavBar .navbar-nav > li.open > a,
#webMenuNavBar .navbar-nav > li.open > a:visited {
  color: #555555;
}
.help-link {
  margin-top: 20px;
  line-height: 50px;
  text-align: left;
}
.propertyDescription {
  margin-bottom: 6px;
}
.image-popup .modal-dialog {
  width: auto;
}
.image-popup .modal-dialog .img-responsive {
  margin: auto;
}
.badge {
  background-color: #666666;
}
.search_tools.well.small a,
.search_tools.well.small strong {
  padding-left: 0.5em;
}
.search_tools.well.small :last-child {
  padding-left: 0;
}
/* with flexbox */
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
}
.grid-col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 5px;
}
.previewFrame {
  width: 100%;
  height: 100%;
  border: none;
  min-height: 50vh;
}
#explore-more-header {
  padding: 10px 25px 5px 0;
  margin-top: 5px;
  text-align: left;
  color: #FFF;
  background-color: #0092ca;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 16px;
}
#explore-more-body .sectionHeader {
  text-transform: uppercase;
  font-weight: bold;
  color: #000075;
  border-bottom: 2px solid #00a4e3;
  margin-top: 15px;
}
#explore-more-body .section {
  padding-left: 5px;
  margin-bottom: 20px;
}
#explore-more-body .subsectionTitle {
  color: #000075;
}
#explore-more-body .jcarousel-wrapper {
  margin-right: -10px;
  margin-top: 5px;
}
#explore-more-body .jcarousel {
  right: 30px;
  width: calc(100% - 60px);
}
#explore-more-body .thumbnail {
  height: 175px;
  background-color: transparent;
}
#explore-more-body .relatedTitlesContainer {
  height: 175px;
}
.exploreMoreBar {
  border: solid 1px #00a4e3;
  margin: 10px 5px 15px;
  background: rgba(0, 164, 227, 0.05);
}
.exploreMoreBar .exploreMoreBarLabel {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 18px;
  padding: 4px;
}
@media (max-width: 479px) {
  .exploreMoreBar .exploreMoreBarLabel {
    white-space: normal;
  }
}
.exploreMoreBar .label-right {
  float: right;
  width: 40px;
  min-height: 167px;
  color: #FFF;
}
.exploreMoreBar .label-right,
.exploreMoreBar .label-right img {
  background-color: #00a4e3;
}
.exploreMoreBar .label-right .exploreMoreBarLabel {
  position: absolute;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0 0;
  padding-left: 10px;
  padding-right: 5px;
  line-height: 40px;
}
.exploreMoreBar .label-right + .exploreMoreContainer {
  padding-right: 40px;
  margin: 16px auto;
}
.exploreMoreBar .label-top {
  color: #FFF;
  width: 100%;
}
.exploreMoreBar .label-top,
.exploreMoreBar .label-top img {
  background-color: #00a4e3;
  display: inline-block;
}
.exploreMoreBar .label-top .exploreMoreBarLabel {
  padding-right: 10px;
  display: inline-block;
}
.exploreMoreBar .jcarousel-wrapper {
  margin: 5px auto;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel li {
  display: block !important;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option {
  padding-right: 10px;
  padding-left: 10px;
  height: 100%;
  border: 0px !important;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option .thumbnail {
  border: 0 solid white;
  position: relative;
  display: block;
  background-color: transparent !important;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option .thumbnail a img {
  height: 125px;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option .thumbnail .explore-more-image {
  width: 100%;
  height: 125px;
  position: absolute;
  top: 62px;
  transform: translate(-50%, -50%);
  right: -50%;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option figcaption {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 100;
  overflow-x: hidden;
  position: absolute;
  top: 130px;
  width: 100%;
  text-align: center;
}
#explore-more-body .jcarousel .thumbnail,
.exploreMoreBar .jcarousel .thumbnail {
  margin-bottom: 0;
  height: 175px;
  border: 0 solid white;
}
#explore-more-body .jcarousel-control-prev,
.exploreMoreBar .jcarousel-control-prev,
#explore-more-body .jcarousel-control-next,
.exploreMoreBar .jcarousel-control-next {
  height: 100%;
  background-color: transparent;
  color: #00a4e3;
  z-index: 2;
  box-shadow: white 0px 0px 0px 0px;
}
#explore-more-body .jcarousel-control-prev:focus,
.exploreMoreBar .jcarousel-control-prev:focus,
#explore-more-body .jcarousel-control-next:focus,
.exploreMoreBar .jcarousel-control-next:focus {
  outline: none;
}
#explore-more-body .jcarousel-control-prev .glyphicon,
.exploreMoreBar .jcarousel-control-prev .glyphicon,
#explore-more-body .jcarousel-control-next .glyphicon,
.exploreMoreBar .jcarousel-control-next .glyphicon {
  top: 39px;
}
#explore-more-body .jcarousel-control-prev,
.exploreMoreBar .jcarousel-control-prev {
  right: 2px;
}
#explore-more-body .jcarousel-control-next,
.exploreMoreBar .jcarousel-control-next {
  left: 2px;
}
#explore-more-body .panel-body,
.exploreMoreBar .panel-body {
  background-color: transparent;
}
#pdfContainer {
  border: 1px solid lightgrey;
  margin: 10px;
}
#pdfContainer #pdfContainerBody {
  position: relative;
  width: 100%;
}
#pdfContainer #pdfContainerBody #pdfComponentBox {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#pdfContainer #pdfContainerBody #pdfComponentBox #view-pdf {
  width: 100%;
  height: 100%;
}
#pdfContainer #pdfContainerBody:before {
  content: "";
  display: block;
  padding-top: 129.5%;
  /* ratio of 11:8.5*/
}
#selectLibraryOptions {
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
}
@media (min-width: 0) {
  #selectLibraryOptions {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 768px) {
  #selectLibraryOptions {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 992px) {
  #selectLibraryOptions {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 0 3em 3em;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #747474;
  z-index: 9999999;
}
.top-link.show {
  visibility: visible;
  opacity: 1;
}
.top-link.hide {
  visibility: hidden;
  opacity: 0;
}
.top-link i {
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
}
.top-link:hover {
  background-color: #636363;
  border-color: #636363;
  filter: brightness(0.95);
}
.top-link:hover i {
  color: #ffffff;
}
#valueListRow .input-group-addon.radioAmount label {
  width: 100%;
  height: 50px;
  padding: 10px 16px;
  margin-bottom: 0;
}
#valueListRow .input-group-addon.radioAmount label input[type="radio"]:checked {
  margin: 0;
}
#valueListRow .input-group-addon.radioAmount label:hover {
  background-color: white;
}
.radio-toolbar {
  display: inline-block;
  margin: 10px;
}
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar input[type="radio"]:checked + label {
  background-color: #bfb;
  border-color: #4c4;
}
.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed #444;
}
#FloatingSave {
  position: fixed;
  bottom: 10%;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  z-index: 9999999;
}
#FloatingSave .btn-primary {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
/*# sourceMappingURL=layout.css.map */