//Variables Customizations for Wake County theme
@header-height: 115px;
@header-top-color: #4C7EB9; //Top color for background gradient in header
@header-middle-color: #395982; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #314869; //Bottom color for background gradient in header
@header-bottom-border-color: #2C3D58;
@footer-top-border-color: #2C3D58;