/*****************Homepage*******************/
a, a:visited{
	color: green;
}
a:hover{
	color: darkgreen;
	text-decoration: underline;
}
.searchheader{
	background-color: white;
	position: relative;
	border-bottom: 2px solid darkgreen;
}
#toptabs{
	position: absolute;
	bottom: 2px;
	left: 110px;
	color: white;
}
.toptab{
	margin-right: 8px;
	padding: 4px 8px 2px 8px;
	font-size: 16px;
	font-weight: bold;
	background-color: #45820D;
	border-radius: 6px 6px 0px 0px;
	border: 1px solid darkgreen;
	border-bottom-style: none;
}
.toptab a,.toptab a:visited{
	color: white;
}
.toptab a:hover{
	color: lightyellow;
	text-decoration: underline;
}

.searchHomeForm{
	color: white;
	background-color: #45820D;
	border-top: 2px solid darkgreen;
}
.searchHomeForm a,.searchHomeForm a:visited{
	color: white;
}
.searchHomeContent{
	padding: 0;
}
#searchbar{
	color: white;
	background-color: #45820D;
}
#searchbar a,#searchbar a:visited{
	color: white;
}
#searchbar a:hover{
	color: lightyellow;
}
td.holdings-section{
	background-color: #45820D;
}
.titleScrollerBody{
	border: 1px solid #949494;
	border-radius: 3px 3px 3px 3px;
	margin: 6px 0px;
}