// Variables for Flatirons Consortium styling

// Colors taken from current catalog homepage
@blue-boulder-text : #0A61AE;
@green-louisville-text : #597635;
@purple-broomfield-text : #669;

@blue-boulder-background : #E1EAF4;
@green-louisville-background : #E0E4D4;
@purple-broomfield-background: #D7D4E0;

@bright-purple : #7C14B8;



// Header Variables
//@header-height: 90px;
@header-top-color: #fff; //Top color for background gradient in header
@header-middle-color: #F1F5FA; //lighten(#80B5D9, .8); //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #80B5D9; //Bottom color for background gradient in header
@header-bottom-border-color: @blue-boulder-text;

// Display Name Variables
@library-display-name-color:@green-louisville-text; // @purple-broomfield-text;
@library-display-name-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
@library-display-name-font-size: 22px;

// Search Box color
@home-search-top-color: @blue-boulder-text; //Top color for background gradient in header
@home-search-bottom-color: @blue-boulder-background; //Bottom color for background gradient in header

//Home Page Browse Category labels
//@browse-header-background-color: @green-louisville-background; //#d7dce3;
//@browse-label-text-color: @blue-boulder-text;
//@browse-label-line-color: @blue-boulder-text;

//Home Page Browse categories
@browse-category-font-size: 20px;
@categoryLineShadow: @purple-broomfield-text;
@categoryLineColor: @purple-broomfield-background;
@category1MainColor: @green-louisville-text;
@selectedCategoryBorderColor: @bright-purple;

//Accordions
@accordion-active-header-backgroundcolor: @purple-broomfield-text;