/***** Basic HTML Tags *****/
a {
    text-decoration:none;
    color:#256292;
}
a:hover {
    color:#256292;
}
h1 {
    font-size:150%;
    font-weight:normal;
    color:#000;
}
div.record h1 {
    margin:1em 0;
}
h2 {
    font-size:140%;
    font-weight:normal;
}
h3 {
    font-size:120%;
    font-weight:normal;
    margin-bottom:.5em;
    color:#000;
}
h4 {
    font-size:110%;
    font-weight:normal;
    margin-bottom:.5em;
    color:#000;
}
body {
    font-family: "Arial Unicode MS", Arial, Sans-Serif;
    color:#3e3e3e;
    font-size: 12px;
}
p {
    margin-bottom:1em;
    line-height:1.3em;
}
hr {
    border: 0;
    height: 1px;
    background-color: #eeeeee;
    color:#eeeeee;
    margin-bottom:1em;
}
strong {
    font-weight:bold;
}
img {
	border: none;
}
li{
	list-style:none outside none;
}