.myAccountLink{
	margin: 0 7px 0px 14px;
	padding: 0.1em 0 0.1em 7px;
	text-align: left;
	text-indent: -7px;
}

.myAccountLink .myAccountLink{
	margin: 0px 0px 0px 7px;
}

#loginFormWrapper{
	padding: 10px 30px;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
#needACardWrapper{
	width: 42%;
	padding: 10px 30px;
	display: inline-block;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
#popupbox #needACardWrapper, #popupbox #loginFormWrapper{
  width: 40%;
}
#haveCardLabel, #needCardLabel, #forgottenCardLabel, #emailPinLabel{
	text-align: center;
	font-weight: bold;
	color: #256292;
}

#loginSubmitButton{
	text-align: center;
}
.loginLabel{
	width: 275px;
	display: inline-block;
	text-align: left;
	zoom: 1;
	*display: inline;
}
.loginField{
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 150px;
	text-align: left;
}

.loginFormRow{
	padding-top: 5px;
	text-align:center;
}
#loginSubmitButtonRow{
	text-align: right;
}
#loginButton{
	margin: 3px 30px;
}
.holdSection{
	border: 1px solid #949494;
    border-radius: 12px 12px 12px 12px;
    margin: 0 0 20px;
    padding-bottom: 10px;
}
.holdSectionBody{
	padding: 10px;
}
.holdSectionTitle{
	border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    color: white;
    font-weight: bold;
    margin-top: 0;
    padding: 0.5em 0;
    text-align: center;
    background-color: #011751;
}

.myAccountLink.active{
	color: #011751;
	font-weight: bold;
}
.libraryHours{
	text-align: center;
	font-style: italic;
}
.myAccountTitle{
	color: #011751;
	font-weight: bold;
	font-size: 14px;
}
.selectAllControls{
  line-height: 22px; /* Increase line height so sorting controls fit on this line */
}

.overdueLabel{
  font-weight: bold;
  color: red;
}

.dueSoonLabel{
  font-weight: bold;
  color: #E58E29;
}

#resultsTableHeaderRow{
  font-weight: bold;
}
.resultsCell{
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}
.resultsId{
  width: 25px;
}
.resultsFilename{
  width: 400px;
}
.resultsRecords{
  width:200px;
}
#resultsTable{
  margin-bottom: 20px;
}
.myAccountTitleDetails{
  vertical-align: top;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.myAccountCell{
  vertical-align: top;
}

.myAccountTable{
  border: 1px solid #949494;
  border-radius: 6px;
  border-collapse: collapse;
  margin-top: 4px; 
  margin-bottom: 4px;
  width: 100%;
}
.myAccountTable td, .myAccountTable th{
  border: 1px solid #949494;
  padding: 2px 3px;
}
.myAccountTable th{
  padding-right: 20px;
}
.myAccountTable thead{
  border-bottom: 2px solid #949494;
  text-align: center;
  vertical-align: bottom;
}
.unsortedHeader{
  background-image: url(/images/unsorted_icon.gif); 
  cursor: pointer; 
  font-weight: bold; 
  background-repeat: no-repeat; 
  background-position: center right; 
  padding-right: 20px; 
}
.sortDescHeader{
  background-image: url(/images/sort_desc_icon.gif);
  background-color: #3399FF;
}
.sortAscHeader{
  background-image: url(/images/sort_asc_icon.gif);
  background-color: #3399FF;
}

#notice{
  border: 1px solid #949494;;
  border-radius: 5px;
  margin: 5px 15px;
  padding: 4px;
  font-size: 11px;
}
.noticeTitle{
  font-size: 13px;
  font-weight: bold;
}
#pager{
	margin: 5px;
	font-size: 11px;
}
.myAccountPagination{
	display: inline-block;
	zoom: 1;
	*display: inline;
}
#recordsPerPage, #sortOptions{
	margin-left: 5px;
}
.adminMenuLink{
	font-size: 12px;
	color: #256292;
	margin-bottom: 6px;
}
.adminMenuLink .adminMenuLink{
	margin-left: 20px;
	text-indent: -10px;
}
.adminMenuHeader{
	padding-top: 5px;
	font-size:13px;
	display:block;
}
.adminMenuLink 
.adminMenuHeader:first{
	padding-top: 0px;
}
#web_note{
	text-align: center;
	margin: 8px;
	padding: 8px;
	background-color: #EDEDED;
	border: 1px solid #949494;
	border-radius: 4px;
	font-weight: bold;
	font-family: sans-serif;
	color: darkblue;
}
#selectLibraryMenu{
	margin-left: 10px;
	margin-top: 10px;
}
.selectLibraryOption{
	margin-top: 6px;
}
.selectLibraryOption label{
	margin-left: 4px;
}
#selectLibraryMenu #submitButton{
	margin-top: 6px;
	margin-left: 15px;
}