/* Print CSS Definitions for VuFind.
   Chris Barr, August 2008
*/
@media print {
	body {
		font: 13px/1.231 arial, helvetica, clean, sans-serif;
		*font-size: small;
		*font: x-small;
	}
	#holdingsSummary,#holdingsSummary.reserve {
		margin: 0;
		background: transparent;
		border: 0;
		text-align: left;
		width: auto;
	}
	#hd,#ft,#siteNavBackground,.currentSearch,.sectionSub,.tools,.backtosearch,#tabnav,.submenu,.add,.toggle,.fav,.searchtools,.pagination
		{
		visibility: hidden;
		height: 0;
		overflow: hidden;
	}
	.sidebar {
		display: none;
	}
	a {
		color: #000;
		text-decoration: none;
		border: none;
	}
	img {
		border: none;
	}
	.result {
		border-bottom: 1px solid #eee;
		padding: 0;
	}
	.record {
		padding: 0 1.5em;
	}
	.resultItemLine1 {
		font-weight: bold;
	}
	.button{
		display: none;
	}

	/* Citation Table */
	.citation {
		padding-bottom: 1em;
	}
	.citation th {
		text-align: left;
		color: #666;
		padding: .3em 0 .3em 0;
		border-bottom: 1px solid #ccc;
	}
	.citation tr {
		
	}
	.citation td {
		padding: .3em 0 .3em 1em;
		border-bottom: 1px solid #ccc;
	}
	.citation tr,.citation td {
		vertical-align: top;
	}
	.alignleft {
		float: left;
		padding: 4px;
		margin: 0 0 2px 15px;
	}

	/* Icon Classes */
	#stabnav a.catalog {
		background-image: url(/images/silk/book.png);
		background-repeat: no-repeat;
		background-position: left;
		padding-left: 20px;
	}
	#stabnav a.articles {
		background-image: url(/images/articles.png);
		background-repeat: no-repeat;
		background-position: left;
		padding-left: 20px;
	}

	/* Icon Classes */
	.available {
		color: #009900;
	}
	.checkedout {
		color: #cc0000;
	}

	/* Modify display for printouts */
	.searchform,.loginOptions,.logoutOptions,.selectTitle,.requestSelectedItems,.breadcrumbs
		{
		display: none;
	}
	.clearer {
		display: block;
		clear: both;
		height: 2px;
	}
	.stepcarousel {
		position: relative; /*leave this value alone*/
		border: 0px solid black;
		overflow: scroll; /*leave this value alone*/
		width: 510px; /*Width of Carousel Viewer itself*/
		height: 175px;
		/*Height should enough to fit largest content's height*/
	}
	.stepcarousel .serieslist {
		position: absolute; /*leave this value alone*/
		left: 0;
		top: 0;
	}
	.stepcarousel .item {
		float: left; /*leave this value alone*/
		overflow: hidden;
		/*clip content that go outside dimensions of holding panel DIV*/
		margin: 10px; /*margin around each panel*/
		width: 90px;
		/*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
	}

	/* Hide facets */
	.sidegroup {
		display: none;
	}

	/* Hide user info */
	.searchcontent .alignright {
		display: none;
	}
	.formatCategories,.searchheader,.searchstars,.correction,.requestSelectedItems,.authorbox,.godeeper,.toolbar,.amazonlink,.listbutton,.listResultImage,.selectAllControls,.recordcoverWrapper,.titleDetails
		{
		display: none !important;
	}
	#seriesplaceholder,#reviewtab,#readertab,#ratingsummary,#staffview,#listTopButtons
		{
		display: none !important;
	}
	#sidebar {
		display: none;
	}
	#main-content {
		width: 925px !important;
	}
	.resultDetails {
		width: 615px !important;
	}
	#searchResultTopTools,#formatCategories {
		display: none;
	}
	#list-recommended {
		display: none;
	}
}