@CHARSET "ISO-8859-1";
.full-result-content{
	padding-left: 5px;
}
#record-header{
	border-bottom: 1px solid #5D8EAC;
	padding-bottom: 5px;
	margin-bottom: 5px; 
	position: relative;
	min-height: 3em;
}
#recordTitleAuthorGroup{
	width: 525px;
	display: inline-block;
	vertical-align: top;
	
	zoom: 1;
	*display: inline;
}
#recordTitle{
	color: #256292;
	font-size: 14px;
	font-weight: bold;
}
#recordTitleRight{
	display: inline-block;
	vertical-align: top;
	
	zoom: 1;
	*display: inline;
	position: absolute;
	right: 0px;
	top: 0px;
	text-align: right;
}
#returnToSearch{
	
}
#previousRecordLink, #nextRecordLink{
	display: inline-block;
	vertical-align: top;
	
	zoom: 1;
	*display: inline;
	margin: 5px 4px 0px 4px;
}

.resultitem {
    margin-left:100px;
    
}
.resulthead {
    margin-bottom:.5em;
    border-bottom: 1px #eee solid;
}
.title {
    font-size:120%;
}
.searchResultSectionInfo{
  color:  #003399;
  font-size: 110%;
}

.recordcover { 
  padding:3px;background-color:white;border:1px solid #cfcfcf;
  max-width: 180px;
}
.recordcoverWrapper{
  padding:3px;background-color:#eee;border:1px solid #cfcfcf;position:relative;
  margin: auto;
  text-align: center;
  display: inline-block;
  position: relative;
  
  zoom: 1;
  *display: inline;
  max-width: 188px;
}

.holdingsSummaryRecord{
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 330px;
}

#recordTools{
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#record-details-header{
	border-bottom: 1px solid #5D8EAC;
}
#image-column{
	display: inline-block;
	width: 210px;
	vertical-align: top;
	text-align: center;
	
	zoom: 1;
	*display: inline;
}
#record-details-column{
	display: inline-block;
	width: 500px;
	vertical-align: top;
	
	zoom: 1;
	*display: inline;
}
.resultInformationLabel{
	color: #256292;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}
.resultInformation{
	padding-top: 8px;	
}
#recordcover{
	margin-bottom: 15px;
}
#myrating{
	margin: 15px 0px;
}
/* Reviews */
.reviewSource{
	font-weight: bold;
}
.reviewProvider{
	font-style: italic;
	font-size: 11px;
}
.reviewCopyright{
	font-size: 11px;
}
.reviewMoreLink{
	font-weight: bold;
	color: #003399;
	cursor: pointer;
}
.reviewContent > p:last-of-type,
.reviewTeaser > p:last-of-type{
	margin-bottom: 2px;
}

#similarTitlesSidegroup{
	display: block;
}

#similarAuthorsSidegroup{
	display: none;
}

#readertab{
	position: relative;
}
.userreview{
	position:absolute; 
	border-radius: 5px; 
	box-shadow: 5px 5px 7px #888; 
	padding: 5px; 
	display: none; 
	border: 2px solid darkgrey; 
	background-color: white; 
	width: 400px; 
	right: 7px;
	top: 7px;
	z-index: 10;
}
.deleteComment, .closeReview, #userreviewlink{
	cursor: pointer;
}
.comment{
	margin-bottom: 5px;
	width: 100%;
}
.commentHeader{
	width: 75%;
}
.commentDate{
	float: right;
}

#seriesList{
	border: 1px solid #A9A9A9;
	border-top: 4px solid #00125E;
	margin-bottom: 15px;
}
.seriesLink{
  float: right;
}

.epubLink{
  cursor: pointer;
}

#editEContentLink, #deleteEContentLink, #archiveEContentLink{
	font-size: 8px;
}
#eContentStatus{
	color: red;
}
#econtentSource{
	font-size: 10px;
	margin-top: 8px;
}