@CHARSET "ISO-8859-1";

#searchInfo{
	font-size: 12px; 
	position: absolute;
	right:0px;
}
.selectTitle{
	display: inline-block;
	vertical-align: top;
	width: 17px;
	zoom: 1;
	*display: inline;
}
.imageColumn{
	display: inline-block;
	vertical-align: top;
	width: 110px;
	text-align: center;
	zoom: 1;
	*display: inline;
}
.imageColumn .listResultImage{
	max-width: 100px;
	padding-bottom: 4px;
}
.resultDetails{
	display: inline-block;
	vertical-align: top;
	width: 405px;
	
	zoom: 1;
	*display: inline;
}
.resultActions{
	display: inline-block;
	vertical-align: top;
	width: 125px;
	
	zoom: 1;
	*display: inline;
	position: relative;
}
#searchResultTopTools{
	max-width: 50%;
	text-align: right;
	position: absolute;
	right: 0px;
	top: 25px;
}
.searchtool-top{
	font-size: 10px;
	display: inline-block;
	margin-top: 1-px;
	
	zoom: 1;
	*display: inline;
}
#searchResultTopToolLinks{
	margin-top: 40px;
}

.holdingsSummary{
	height: 4.5em;
}
#noResultsSuggest ul {
  margin-left:20px;
  list-style-type:disc
  }
#noResultsSuggest li {
  margin-left:20px;
  list-style-type:disc
  }

