@CHARSET "ISO-8859-1";

#catalogHome{
	padding: 50px;
}

#homePageLists{
	width: 650px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

#homeLoginForm{
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	width: 200px;
	zoom: 1;
	*display: inline;
}
#loginTitleHome{
	font-weight: bold;
	font-size: 14px;
	color: #256292;
	padding-bottom: 5px;
}
#loginButtonHome{
	display: block;
	margin: 8px 5px;
}
.loginLabelHome{
	padding-top: 5px;
}
.loginFormInput{
	width: 180px;
}
#catalogHome .sidegroup{
	width: 200px;
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}
#catalogHome .sidegroup h4{
	background-color: #011753;
}

.titleScrollerHeader{
	background:url(/interface/themes/default/images/breadcrumb-gradient.png) repeat-x top left;
	padding: 2px;
	color: #00125E;
	font-size: 12px;
	font-weight: bold;
	height: 15px;
}
.titleScrollerHeader .linkTab
{
	padding-right: 10px;
	float: left;
}
.titleScrollerHeader .linkTab .first
{
	padding-right: 0px;
}

#listSelection{
	border: none;
	background: none;
	color: #00125E;
}

.titleScrollerBody{
	background-color: white;
	clear: both;
}

.leftScrollerButton{
	display: inline-block;
	height: 150px;
	width: 30px;
	float: left;
	cursor: pointer;
	background:url(/interface/themes/default/images/scroll-left.png) no-repeat left center;
	zoom: 1;
	*display: inline;
}

.rightScrollerButton{
	display: inline-block;
	height: 150px;
	width: 30px;
	float: right;
	cursor: pointer;
	background:url(/interface/themes/default/images/scroll-right.png) no-repeat left center;
	z-index: 100;
	zoom: 1;
	*display: inline;
}
.titleScrollerSelectedTitle{
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #00125E;
}
.titleScrollerSelectedAuthor{
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: #A9A9A9;
}
.scrollerBodyContainer{
	position: relative;
	overflow: hidden;
	margin: 5px 40px;
}
.scrollerBody{
	padding: 7px;
	margin: 0px 7px;
	height: 140px;
	position: relative;
}
.scrollerLoadingContainer{
	width: 100%;
	padding-top: 40px;
	text-align: center;
}
.scrollerTitle{
	display: inline-block;
	margin: 2px;
	vertical-align:middle;
	padding: 3px;
	max-width: 129px;
	zoom: 1;
	*display: inline;
}
.scrollerTitleCover{
	max-width: 125px;
	max-height: 125px;
	padding: 3px;
}
.scrollerTitle img{
	opacity: .6;
}
.scrollerTitle:hover img{
	opacity: .8;
}
.scrollerTitle.selected{
	border: 3px solid #00125E;
	border-radius: 3px;
	padding: 0px;
}
.scrollerTitle.selected img{
	opacity: 1;
}
.listWidgetSelector{
	width: 100%;
	text-align: right;
}

.singleTitleWidget{
	width: 200px;
}
.singleTitleWidget .scrollerTitle img{
	display: inline-block;
	opacity: 1;
}
.singleTitleWidget .scrollerTitle.selected img{
	display: inline-block;
}
.singleTitleWidget .scrollerTitle.selected{
	border: 0 solid black;
	border-radius: 3px;
	padding: 0;
}
.singleTitleWidget .scrollerBodyContainer{
	margin: 5px 0;
	text-align: center;
	width: 100%;
}

.singleTitleWithNextWidget{
	width: 200px;
}
.singleTitleWithNextWidget .scrollerTitle img{
	display: inline-block;
	opacity: 1;
}
.singleTitleWithNextWidget .scrollerTitle.selected img{
	display: inline-block;
}
.singleTitleWithNextWidget .scrollerTitle.selected{
	border: 0 solid black;
	border-radius: 3px;
	padding: 0;
}
.singleTitleWithNextWidget .scrollerBodyContainer{
	margin: 5px 0;
	text-align: center;
	width: 100%;
}
.singleTitleWithNextWidget .rightScrollerButton{
	float: none;
	position: absolute;
	right: 5px;
}