#tooltip.descriptionTooltip {
	font-family: Arial;
	border: none;
	width: 200px;
	padding:0px;
	height: auto;
	opacity: 0.95;
	background: white;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-box-shadow:5px 5px 5px #888;
	-moz-box-shadow:5px 5px 5px #888;
	position: absolute;
}
#tooltip.descriptionTooltip h3{
	margin-bottom: 3px;
	font-size: 13px;
	text-align: center;
	background: #43749c;
	color: white;
	padding:5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.description-element{
	padding: 3px 5px;
	font-size:11px;
}
.description-element-label{
	font-weight: bold; 
	display: inline-block;
	padding-right: 4px;
	zoom: 1;
	*display: inline;
}