@CHARSET "ISO-8859-1";

body {
  margin: 0;
  padding: 0;
  background: #FFF;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}

#ereaderlogo{
	padding-left: 20px;
	padding-top: 5px;
	position: relative;
}
#components {
  display: none;
}

#reader, #readerBg {
  position: absolute;
  right: 0px;
  top:104px;
  bottom:23px;
  left: 200px;
  padding: 5px;
  overflow: scroll;
}
#tableOfContents{
	position: absolute;
	top: 84px;
	bottom: 23px;
	width: 200px;
	overflow: auto;
	color: #256292;
}
#readerPosition{
	position: absolute;
  right: 0px;
  top:84px;
  height:8px;
  left: 200px;
	margin: 5px 5%;
	border: 1px solid gray;
}
#readerPositionIndicator{
	background-color: lightgray;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 0%;
	border: 1px solid lightgray;
}
.tocEntry{
	margin-left: 15px;
	margin-bottom: 3px;
}
.tocEntry.selected{
	font-weight: bold;
}
#tableOfContentsHeader, #downloadableFilesHeader{
	border-bottom: 1px solid #256292;
	margin-bottom: 5px;
	font-size: 13px;
	font-weight: bold;
	padding: 3px;
}

#reader div pre {
  white-space: normal;
  font: normal 100% serif;
}

/* from smallest and outermost to largest and innermost */
.dummyPage {
  position: absolute;
  left: 3px;
  top: 20px;
  bottom: 20px;
  right: 15px;
  background-color: #FCF6F0;
  /*-webkit-box-shadow: 2px 2px 4px #754;
  -moz-box-shadow: 2px 2px 4px #754;
  -webkit-border-top-left-radius: 26px 6px;
  -webkit-border-bottom-left-radius: 26px 6px;
  -moz-border-radius-topleft: 26px 6px;
  -moz-border-radius-bottomleft: 26px 6px;*/
  box-shadow: 2px 2px 4px #775544;
  border-bottom-left-radius: 30px 11px;
  border-top-left-radius: 30px 11px; 
}
.dummyPage + .dummyPage {
  top: 16px;
  bottom: 16px;
  right: 16px;
  -webkit-box-shadow: 1px 0 2px #A99;
  -moz-box-shadow: 1px 0 2px #A99;
}
.dummyPage + .dummyPage + .dummyPage {
  top: 13px;
  bottom: 13px;
  right: 18px;
  background-color: #FFF9F4;
}
.dummyPage + .dummyPage + .dummyPage + .dummyPage {
  top: 10px;
  bottom: 10px;
  right: 21px;
}
.dummyPage + .dummyPage + .dummyPage + .dummyPage + .dummyPage {
  top: 8px;
  bottom: 8px;
  right: 25px;
}
.jacket {
  display: none;
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 3px;
  left: 65%;
  -webkit-box-shadow: -3px 0 3px #311;
  -moz-box-shadow: -3px 0 3px #311;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  background-color: #F7F7F7;
  background: -webkit-gradient(linear, left top, right bottom, from(#FFF), to(#DDD));
}
.board {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left:0px;
  right: 8px;
  background-color: #974;
  border: 1px solid #852;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.runner {
  color: #542;
  text-transform: uppercase;
  font-size: 82%;
}

.pageNumber, .bookTitle, .chapterTitle {
  padding: 3% 2%;
}

.bookTitle, .chapterTitle {
  position: absolute;
  top: 1%;
  left: 6%;
  cursor: pointer;
  padding-left: 0;
}

.chapterTitle {
  top: auto;
  bottom: 1%;
  right: 20%;
}

.pageNumber {
  position: absolute;
  bottom: 1%;
  right: 8%;
  padding-right: 0;
}

#readerBg {
  background-color: #000;
}

#toc ul.root {
  position: absolute;
  top: 50px;
  left: 8%;
  max-height: 75%;
  max-width: 80%;
  background: #E0D3C0;
  -webkit-box-shadow: 1px 2px 2px #652;
  -moz-box-shadow: 1px 2px 2px #652;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow-y: auto;
  color: #432;
  font: 11pt Georgia, serif;
  text-shadow: 1px 1px #EEE6D0;
  border: 1px solid #EED;
  z-index: 9;
}

.tocArrow {
  position: absolute;
  top: 40px;
  left: 16%;
  width: 20px;
  height: 20px;
  -webkit-transform: rotateZ(45deg);
  background: #E0D3C0;
  z-index: 8;
}

#toc li {
  list-style: none;
  line-height: 220%;
  padding-left: 1em;
  padding-right: 2em;
  border-bottom: 2px groove #FFF6E9;
  cursor: pointer;
}

#toc li span {
  display: block;
}

#toc ul li:last-child {
  border-bottom: none;
}

#toc ul {
  margin: 0;
  padding: 0;
}
#toc ul.root {
  border-top: none;
}



/* Overrides to core elements */

div.monelem_container {
  background: none;
  width: auto;
}

div.monelem_page {
  top: 6px;
  bottom: 6px;
  right: 4px;
  border-color: #CBA;
  outline: none;
  -webkit-box-shadow: 1px 0 1px #CBA;
  -moz-box-shadow: 1px 0 1px #CBA;
  box-shadow: 1px 0 2px #CBA;
  -webkit-border-top-left-radius: 26px 4px;
  -webkit-border-bottom-left-radius: 26px 4px;
  -moz-border-radius-topleft: 26px 4px;
  -moz-border-radius-bottomleft: 26px 4px;
  background-color: #FFFFFE;
  background-image: -moz-linear-gradient(0deg, #EDEAE8 0px, #FFFFFE 24px);
  background: -webkit-gradient(linear, 0 0, 24 0, from(#EDEAE8), to(#FFFFFE));
}

div.monelem_sheaf {
  left: 6%;
  right: 8%;
  top: 8%;
  bottom: 8%;
}


/* Overriding magnifier button display */

div.monelem_controls_magnifier_button {
  color: #632;
  padding: 2%;
  top: 1%;
  right: 6%;
}


/* Overriding table of contents display */

div.monelem_controls_contents_container {
  background: #E0D3C0;
  border: 1px solid #EED;
  font: 11pt Georgia, serif;
  color: #432;
  text-shadow: 1px 1px #FFF6E0;
}

div.monelem_controls_contents_chapter {
  border-bottom: 2px groove #FFF6E9;
}


/* Overriding the scrubber display */
div.monelem_controls_scrubber_container {
  left: 5.5%;
  right: 9%;
  bottom: 2%;
  background: #FFFEFC;
}

div.monelem_controls_scrubber_track {
  border-color: #432;
}

div.monelem_controls_scrubber_needle {
  border-color: #432;
  background: #E0D3C0;
}

div.monelem_controls_scrubber_trail {
  background: #E0D3C0;
}

#epubError{
	margin-top: 30px;
	margin-left: 30px;
	color: red;
}

#epubLoginForm{
	margin-top: 30px;
	margin-left: 30px;
	vertical-align: top;
	width: 200px;
	
	zoom: 1;
	*display: inline;
}
#loginTitleEPub{
	font-weight: bold;
	font-size: 14px;
	color: #256292;
	padding-bottom: 5px;
}
#loginButtonEPub{
	display: block;
	margin: 8px 5px;
}
.loginLabelEPub{
	padding-top: 5px;
}
.loginFormInput{
	width: 180px;
}

#epubToolbarTop, #epubToolbarBottom{
  height: 23px;
  background: url("/interface/themes/default/images/breadcrumb-gradient.png") repeat-x scroll left top transparent;
  line-height: 23px;
  margin: 0px;
  overflow: hidden;
  font-size: 12px;
  width: 100%;
  position: relative;
}
#epubToolbarBottom{
  position: absolute;
  bottom: 0px;
}

#epubToolbarTop div, #epubToolbarBottom div{
  display: inline-block;
  zoom: 1;
  *display: inline;
}
#epubTitle{
  font-weight: bold;
  padding-left: 10px;
}
#epubToolbarTopRight, #epubToolbarBottomRight{
  display: block;
  position: absolute;
  right: 10px;
  top: 0px;
}
#epubToolbarBottomRight{
  right: 110px;
}


#textSize{
  cursor: pointer;
  position: relative;
  font-weight: bold;
  padding-left: 10px;
}
#textSize.normal .controls_magnifier_a{
  opacity: 1.0;
}
#textSize.normal .controls_magnifier_A{
  opacity: 0.3;
}
#textSize.large .controls_magnifier_a{
  opacity: 0.3;
}
#textSize.large .controls_magnifier_A{
  opacity: 1.0;
}
.controls_magnifier_a{
  font-size: 10px;
  position: relative;
  left: 3px;
  top: -3px;
}
#toggleTOC{
  cursor: pointer;
  position: relative;
  font-weight: bold;
  padding-left: 10px;
}
#pageNumber{
  width: 20px;
  font-weight:bold;
  text-align:center;
  vertical-align: middle;
}
#toolbarToggle{
  position:absolute;
  height: 23px;
  bottom: 0px;
  right: 0px;
  text-align: center;
  width: 100px;
  background-color: #3E3E3E;
  color: white;
  cursor: pointer;
  z-index:100;
  line-height: 23px;
}
#pagePrev, #pageNext{
  cursor: pointer;
  vertical-align: middle;
  line-height: 23px;
  font-size: 20px;
}
#pagerControl{
  padding-left: 10px;
  cursor: pointer;
}

#readerIE_Error{
  margin-left: 50px;
  margin-top: 50px;
  width: 300px;
  border: 1px solid #0000FF;
  padding: 15px;
  background-color: #FFFFCC;
}

#returnToCatalogLink{
	position: absolute;
	right: 15px;
	top: 5px;
}

#downloadableFiles{
	margin: 10px;
}

.downloadableSegementName{
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 200px;
}
.downloadableSegmentSize{
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.downloadableFile{
	margin-bottom: 4px;
}
#downloadableFileNotes{
	color: blue;
	font-style: italic;
	margin-bottom: 5px;
	MozUserSelect: none;
}

@media print{
	#reader{
		display: none;
	}
}
