node_modules/**
.expo/**
.expo-shared/**
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
/.idea/*

# macOS
.DS_Store

# @generated: @expo/next-adapter@3.1.10
/.expo/*
# Expo Web
/web-build/*
# Expo Native
# Next.js
/.next/*
/out/
# Next.js production
/build/
# Next.js dependencies
/.pnp
.pnp.js
# @end @expo/next-adapter
app-configs/**
!/app-configs/app.template.json
!/app-configs/bumpVersions.php
!/app-configs/makeNew.sh
!/app-configs/README.md
/.tmp/*
/google-services*.json
/android/app/google-services*.json