// Variables Customizations for Steamboat Library theme

@steamboat-lightgoldengreen: #B3B20A;
@steamboat-goldengreen: #a8a96f;
@steamboat-goldengreen2: #a3a60f;
@steamboat-goldengreen3: #99980A;
@steamboat-darkgoldengreen: #646510;
@steamboat-darkgoldengreen2: #494A0C;
@steamboat-darkred:  #c65500;

@menu-bar-background-color: @steamboat-darkgoldengreen;
@menu-bar-selected-background-color: @steamboat-lightgoldengreen;

@header-top-color: @body-bg-resp; //Top color for background gradient in header
@header-middle-color:@body-bg-resp; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: @body-bg-resp; //Bottom color for background gradient in header
@header-bottom-color: @body-bg-resp; //Bottom color for background gradient in header
@header-bottom-border-color: #DFE5EB;
@footer-top-border-color: #DFE5EB;
@header-height: 130px;

@home-search-top-color: @steamboat-goldengreen2;
@home-search-bottom-color: @steamboat-goldengreen2;

@browseCarouselControlBackgroundColor: @content-bg;
@browseCarouselControlColor: @steamboat-darkred;

// Home Page Browse Category Pagination Controls
@selectedbrowseCarouselPaginationBackgroundColor: @steamboat-darkred;
//TODO: add as a main variable

@browse-label-text-color: @steamboat-darkgoldengreen;
@selected-browse-label-search-color: @steamboat-darkgoldengreen;
@selectedCategoryColor: @steamboat-darkgoldengreen;
@selectedSubCategoryBackgroundColor: @steamboat-darkgoldengreen;

@category1MainColor: @content-bg;
@categoryLineColor: @content-bg;
@categoryLineShadow: @content-bg;
@selectedCategoryBorderColor: @content-bg;

// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@menu-bar-background-color: @steamboat-goldengreen2;
@menu-bar-selected-background-color: @steamboat-darkgoldengreen;

@browse-header-background-color: @content-bg;

@accordion-active-header-backgroundcolor: @steamboat-goldengreen3;
@sidebar-link-color:  #333;
@sidebar-label-background-color : @steamboat-darkgoldengreen2;

@btn-primary-bg: @steamboat-darkgoldengreen;

@title-color: @steamboat-darkgoldengreen;
@subsection-title-color: #333;

@archiveComponent-color: #6b6b6b;
@archiveComponentControl-background-color: #FFF;
