//Variables Customizations for Plateau Valley theme
@header-top-color: #fff; //Top color for background gradient in header
@header-middle-color: #fff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #fff; //Bottom color for background gradient in header
@header-bottom-border-color: #333333;
@footer-top-border-color: #333333;
@header-height: 130px;

@plateau-darkgreen: #22702A;
@plateau-lightgreen: #34AF42;
@home-search-top-color: @plateau-darkgreen; //Top color for background gradient in header
@home-search-bottom-color: darken(@plateau-darkgreen, 10%);

@category1MainColor: @plateau-lightgreen;
@categoryLineColor: #858A91;
@categoryLineShadow: @plateau-darkgreen;
@selectedCategoryBorderColor: @plateau-darkgreen;

@accordion-active-header-backgroundcolor: @plateau-darkgreen;

@menu-bar-background-color: @plateau-darkgreen;
@menu-bar-selected-background-color: @plateau-lightgreen;