@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;

@guildford-red: #510000; //current website red
@guildford-red: #d00038; // red from newer logo
@guildford-offwhite: #EBEBEB;
@guildford-grey: #8C8C8C;

@header-height: 150px;
@header-logo-height: 140px;

@home-search-top-color: @guildford-red; //Top color for background gradient in header
@home-search-bottom-color: @guildford-red;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @guildford-red;
@menu-bar-selected-background-color: @guildford-grey;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: @guildford-offwhite;
@footer-top-border-color: @guildford-offwhite;


@header-buttons-background-color : @guildford-offwhite;

@btn-primary-bg: @guildford-red;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @guildford-red;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @guildford-grey;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @lion-dark-blue;
@browse-category-text-color: @lion-dark-blue;
@selected-browse-label-search-color: @lion-dark-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @guildford-red;