<phpunit>
  <php>
    <const name="FEDORAURL" value="http://localhost:8080/fedora"/>
    <const name="FEDORAUSER" value="fedoraAdmin"/>
    <const name="FEDORAPASS" value="fedoraAdmin"/>
  </php>
</phpunit>
