@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;


@woodbridge-blue: #568ebf;
@woodbridge-black: #000;

@header-height: 100px;
@header-logo-height: 90px;

// Page Background Variables
//@body-bg: @santafe-easier-to-read-white;
//@content-bg: @santafe-easier-to-read-white;
@body-bg-resp: #f7ece8;


@home-search-top-color: @woodbridge-blue; //Top color for background gradient in header
@home-search-bottom-color: @woodbridge-blue;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @woodbridge-blue;
@menu-bar-selected-background-color: @lion-dark-blue;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: @lion-dark-blue;
@header-bottom-border-width: 1px;
@footer-top-border-color: @lion-dark-blue;


@header-buttons-background-color : @woodbridge-blue;

@btn-primary-bg: @woodbridge-blue;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @woodbridge-blue;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @lion-dark-blue;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @lion-dark-blue;
@browse-category-text-color: @lion-dark-blue;
@selected-browse-label-search-color: @lion-dark-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @woodbridge-blue;