/*****************Homepage*******************/
html, body{
	background: url(/interface/themes/adams/images/bkgnd-content.jpg) repeat-x scroll left top #CCCCCC;
}
.searchHomeForm {
	background-color: #F0F0F0;
	border-top: #006648 2px solid;
	color: black;
}
#homeSearchLabel {
	color: black;
}
.searchheader{
	background: url(/interface/themes/adams/images/header_background.jpg) no-repeat scroll center top transparent;
	height: 124px;
	color: white;
}
.searchheader a, .searchheader a:visited{
	color: white;
}
.searchheader a:hover{
	color: white;
	text-decoration: underline;
}
#searchbar, .breadcrumbs{
	background-color: #2F2F2F; 
	color: white;
}
#searchbar a, #searchbar a:visited, .breadcrumbs a, .breadcrumbs a:visited{
	color: white;
}
#searchbar a:hover, .breadcrumbs a:hover{
	color: #F2CE68;
}
#homeSearchText{
	color: #004e2b;
	font: normal 32px 'PT Sans',Tahoma,Geneva,Arial,sans-serif;
	margin: 0 0 20px;
}
.searchHomeForm a, .searchHomeForm a:hover {
	color: #003399;
}