//Variables Customizations for Adams State theme
@asu-light-green: #007A53;
@asu-green: #014731;

@menu-bar-background-color: @asu-light-green;
@menu-bar-selected-background-color: @asu-green;

@header-height: 114px;
//@header-bottom-border-color: darken(@asu-green, .8);
@header-bottom-border-color: #000;

@home-search-top-color: @asu-light-green;
@home-search-bottom-color : @asu-green;

@accordion-active-header-backgroundcolor: @asu-light-green;

@category1MainColor: @asu-green;
@categoryLineColor: @asu-light-green;
@categoryLineShadow: @asu-light-green;

// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

// Primary Button Color
@btn-primary-bg: @asu-green;