//Variables Customizations for Basalt theme
@copper-green: #78ada3;
@header-top-color: #EFEFEF; //Top color for background gradient in header
@header-middle-color: #EFEFEF; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #EFEFEF; //Bottom color for background gradient in header
@header-bottom-border-color: @copper-green;
@footer-top-border-color: @copper-green;
@header-height: 115px;

@home-search-top-color: #EC5802; //Top color for background gradient in header
@home-search-bottom-color: #FEA501;

@home-page-login-background-color: lighten(@home-search-bottom-color, 5%);

@category1MainColor: @copper-green;
@categoryLineColor: #5F7465;
@categoryLineShadow: #607261;

//@selectedCategoryBorderColor: #63B200;
@selectedCategoryBorderColor: @categoryLineColor; // makes outline more subtle

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: lighten(@category1MainColor, 14%); //softer touch
//@selectedCategoryColor: lighten(@category1MainColor, 19%); // stronger highlight

// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

// set opened accordions to Basalt copper-rust color
@accordion-active-header-backgroundcolor : @copper-green;

@menu-bar-background-color: @copper-green;