@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
#home-page-browse-header {
  background-color: #d7dce3;
  padding-bottom: 15px;
}
#home-page-browse-content {
  padding: 15px;
  background-color: #fff;
}
#browse-label {
  height: 5px;
  background-color: #bbd4e3;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: -15px;
  z-index: -1;
}
.browse-label-text {
  background-color: #d7dce3;
  font-size: 22px;
  color: #3497d1;
  line-height: 5px;
  vertical-align: top;
  margin: auto;
  padding: 0 8px;
  z-index: 2;
}
#browse-category-picker .jcarousel-control-prev,
#browse-category-picker .jcarousel-control-next {
  background-color: #9e9fa3;
  color: #d4d4d4;
  font-size: 50px;
}
#browse-category-picker .jcarousel-control-prev:focus,
#browse-category-picker .jcarousel-control-next:focus {
  text-decoration: none;
  outline: none;
}
#browse-category-picker .jcarousel-control-prev:hover,
#browse-category-picker .jcarousel-control-next:hover {
  text-decoration: none;
}
#browse-category-picker a.jcarousel-control-next:after {
  content: "›";
}
#browse-category-picker a.jcarousel-control-prev:before {
  content: "‹";
}
#browse-category-picker .jcarousel-pagination a,
#browse-category-picker .jcarousel-pagination a:hover,
#browse-category-picker .jcarousel-pagination a:active,
#browse-category-picker .jcarousel-pagination a:visited {
  outline: none;
}
.browse-category {
  color: #fff;
  font-size: 20px;
  padding: 10px;
  text-shadow: 1px 1px #555555;
  background-color: #5fb7db;
  height: 100px;
  margin-left: 4px;
  margin-right: 4px;
}
.browse-category:hover {
  background-color: lightskyblue;
  color: darkblue;
}
.browse-category div {
  color: #fff;
  cursor: pointer;
  height: 80px;
}
.browse-category div:focus {
  outline: none;
}
.browse-category div:hover {
  text-decoration: underline;
}
.browse-category.selected {
  border: 2px solid #3497d1;
  font-size: 23px;
}
.browse-category.category0 {
  background-color: #0d8ec7;
  background: -webkit-linear-gradient(top, #0d8ec7, #0d8ec7 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #0d8ec7 90%, #0d8ec7);
  background: linear-gradient(to bottom, #0d8ec7, #0d8ec7 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #0d8ec7 90%, #0d8ec7);
}
.browse-category.category1 {
  background-color: #0e98d5;
  background: -webkit-linear-gradient(top, #0e98d5, #0e98d5 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #0e98d5 90%, #0e98d5);
  background: linear-gradient(to bottom, #0e98d5, #0e98d5 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #0e98d5 90%, #0e98d5);
}
.browse-category.category2 {
  background-color: #0fa2e4;
  background: -webkit-linear-gradient(top, #0fa2e4, #0fa2e4 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #0fa2e4 90%, #0fa2e4);
  background: linear-gradient(to bottom, #0fa2e4, #0fa2e4 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #0fa2e4 90%, #0fa2e4);
}
.browse-category.category3 {
  background-color: #12acf0;
  background: -webkit-linear-gradient(top, #12acf0, #12acf0 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #12acf0 90%, #12acf0);
  background: linear-gradient(to bottom, #12acf0, #12acf0 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #12acf0 90%, #12acf0);
}
.browse-category.category4 {
  background-color: #21b1f0;
  background: -webkit-linear-gradient(top, #21b1f0, #21b1f0 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #21b1f0 90%, #21b1f0);
  background: linear-gradient(to bottom, #21b1f0, #21b1f0 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #21b1f0 90%, #21b1f0);
}
.browse-category.category5 {
  background-color: #2fb6f1;
  background: -webkit-linear-gradient(top, #2fb6f1, #2fb6f1 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #2fb6f1 90%, #2fb6f1);
  background: linear-gradient(to bottom, #2fb6f1, #2fb6f1 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #2fb6f1 90%, #2fb6f1);
}
.browse-category.category6 {
  background-color: #3dbbf2;
  background: -webkit-linear-gradient(top, #3dbbf2, #3dbbf2 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #3dbbf2 90%, #3dbbf2);
  background: linear-gradient(to bottom, #3dbbf2, #3dbbf2 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #3dbbf2 90%, #3dbbf2);
}
.browse-category.category7 {
  background-color: #4cc0f3;
  background: -webkit-linear-gradient(top, #4cc0f3, #4cc0f3 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #4cc0f3 90%, #4cc0f3);
  background: linear-gradient(to bottom, #4cc0f3, #4cc0f3 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #4cc0f3 90%, #4cc0f3);
}
.browse-category.category8 {
  background-color: #5ac5f4;
  background: -webkit-linear-gradient(top, #5ac5f4, #5ac5f4 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #5ac5f4 90%, #5ac5f4);
  background: linear-gradient(to bottom, #5ac5f4, #5ac5f4 82%, #64b7d8 83%, #89cae5 84%, #89cae5 88%, #64b7d8 89%, #5ac5f4 90%, #5ac5f4);
}
#selected-browse-label {
  background-color: #fff;
  background: -webkit-linear-gradient(top, #fff, #fff 44%, #bbd4e3 45%, #bbd4e3 55%, #fff 56%);
  background: linear-gradient(to bottom, #fff, #fff 44%, #bbd4e3 45%, #bbd4e3 55%, #fff 56%);
  margin-bottom: 5px;
}
#selected-browse-label > div.btn-group {
  margin-right: 20px;
  float: right;
  background-color: #fff;
  padding: 0 8px;
}
#selected-browse-label > div.btn-group span.thumbnail-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#selected-browse-label > div.btn-group span.thumbnail-icon:empty {
  width: 1em;
}
#selected-browse-label > div.btn-group span.thumbnail-icon:before {
  content: "\e011";
}
#selected-browse-label > div.btn-group span.grid-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#selected-browse-label > div.btn-group span.grid-icon:empty {
  width: 1em;
}
#selected-browse-label > div.btn-group span.grid-icon:before {
  content: "\e056";
}
#selected-browse-label > div.btn-group span.list-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#selected-browse-label > div.btn-group span.list-icon:empty {
  width: 1em;
}
#selected-browse-label > div.btn-group span.list-icon:before {
  content: "\e012";
}
@media (max-width: 767px) {
  #selected-browse-label > div.btn-group span {
    display: none;
  }
}
.selected-browse-label-search {
  font-size: 20px;
  color: #0072bc;
  vertical-align: top;
  margin-left: 20px;
  float: left;
  background-color: #fff;
  padding: 0 8px;
}
.selected-browse-label-search a {
  color: #0072bc;
}
#selected-browse-search-link .icon-before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#selected-browse-search-link .icon-before:empty {
  width: 1em;
}
#selected-browse-search-link .icon-before:before {
  content: "\e003";
}
.browse-rating {
  margin-top: 5px;
}
.home-page-browse-thumbnails,
.home-page-browse-grid,
.browse-thumbnails-few {
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}
@media (min-width: 0) {
  .home-page-browse-thumbnails {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 480px) {
  .home-page-browse-thumbnails {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 992px) {
  .home-page-browse-thumbnails {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media (min-width: 1200px) {
  .home-page-browse-thumbnails {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}
@media (min-width: 0) {
  .browse-thumbnails-few {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 480px) {
  .browse-thumbnails-few {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 992px) {
  .browse-thumbnails-few {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 1200px) {
  .browse-thumbnails-few {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 0) {
  .browse-thumbnails-medium {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 480px) {
  .browse-thumbnails-medium {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 768px) {
  .browse-thumbnails-medium {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 992px) {
  .browse-thumbnails-medium {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media (min-width: 1200px) {
  .browse-thumbnails-medium {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media (min-width: 0) {
  .home-page-browse-grid {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .home-page-browse-grid {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 768px) {
  .home-page-browse-grid {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 992px) {
  .home-page-browse-grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.browse-thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  page-break-inside: avoid;
       break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  display: inline-block;
  text-align: center;
}
.browse-thumbnail > img,
.browse-thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
a.browse-thumbnail:hover,
a.browse-thumbnail:focus,
a.browse-thumbnail.active {
  border-color: #428bca;
}
.browse-thumbnail .caption {
  padding: 9px;
  color: #333333;
}
.browse-thumbnail img {
  width: 100%;
}
.browse-thumbnail-sorted {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-width: 0;
  height: 210px;
  overflow: hidden;
  text-align: center;
}
.browse-thumbnail-sorted > img,
.browse-thumbnail-sorted a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
a.browse-thumbnail-sorted:hover,
a.browse-thumbnail-sorted:focus,
a.browse-thumbnail-sorted.active {
  border-color: #428bca;
}
.browse-thumbnail-sorted .caption {
  padding: 9px;
  color: #333333;
}
.browse-thumbnail-sorted img {
  max-height: 150px;
}
.browse-list {
  page-break-inside: avoid;
       break-inside: avoid-column;
  -webkit-column-break-inside: avoid;
  display: inline-block;
  text-align: left;
  width: 100%;
}
.browse-list img {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
  float: left;
  margin: 0 4px 10px 0;
  width: 80px;
  border-radius: 3px;
}
#more-browse-results {
  background-color: #e6e6e6;
  color: #c7c9ca;
  text-align: center;
  padding: 2px;
  cursor: pointer;
  border-radius: 4px;
  line-height: 0;
}
#more-browse-results span {
  font-weight: bold;
  font-size: 33px;
}
#browse-sub-category-menu {
  margin-top: 10px;
}
#browse-sub-category-menu button {
  margin-right: 5px;
}
#browse-sub-category-menu button.selected {
  color: #fff;
  background-color: #0d8ec7;
}
#browse-sub-category-menu button:focus {
  outline: none;
}
.selected-browse-sub-category-label-search-text::before {
  content: ' \00bb \00a0';
}
