.graph-bar {
  background-color: #088ec6;
}
#side-bar .userreviewlink,
#side-bar .addtolistlink {
  width: 196px;
}
.userreviewlink,
.addtolistlink {
  background-color: #088ec6;
  color: #ffffff;
}
.userreviewlink:hover,
.addtolistlink:hover {
  background-color: #2897c6;
  color: #ffffff;
}
.full-record-tools {
  padding: 4px 0;
}
.full-rating {
  padding: 10px 5px 4px;
  white-space: nowrap;
  font-size: 11px;
}
.rating-graph {
  margin: 4px 0;
}
.rating-graph .row {
  margin-top: 2px;
}
.title-rating {
  margin-top: 4px;
}
#main-content .result-tools-horizontal {
  margin-top: 10px;
  margin-bottom: 10px;
}
.share-tools {
  background-color: #e6e6e6;
  background: -webkit-linear-gradient(top, #e7e7e7, #d7d7d7);
  background: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  color: #6e6f6f;
  border-bottom: 1px solid #adadad;
  font-weight: bold;
  text-align: left;
  padding: 5px 10px;
  display: inline-block;
}
.share-tools img {
  margin-left: 2px;
  margin-right: 2px;
}
.share-tools-label {
  padding-right: 10px;
}
#side-bar .share-tools {
  margin-top: 8px;
  width: 200px;
}
#more-details-accordion .panel-group .panel + .panel {
  margin-top: 0;
}
#more-details-accordion .panel-heading {
  padding: 5px 15px;
  background: -webkit-linear-gradient(top, #e7e7e7, #d7d7d7);
  background: linear-gradient(to bottom, #e7e7e7, #d7d7d7);
  border-bottom: 1px solid #a1a1a1;
}
#more-details-accordion .panel-title {
  font-size: 13px;
  color: #333333;
  text-shadow: 1px 1px #fff;
}
#more-details-accordion .active .panel-heading {
  background-color: #4dacde;
  background: -webkit-linear-gradient(top, #4dacde, #2796d1);
  background: linear-gradient(to bottom, #4dacde, #2796d1);
}
#more-details-accordion .active .panel-title {
  color: #fff;
  text-shadow: 1px 1px #555555;
}
#more-details-accordion .panel-body {
  font-size: 12px;
  color: #333333;
  background-color: #eeeeee;
}
.novelist-similar-item {
  padding: 6px;
}
.novelist-similar-item-header {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}
.novelist-similar-item-reason {
  font-style: italic;
  margin-left: 6px;
}
