/**
 * Additional Styling related to the help system
 */
.faqQuestion{
  font-size: var(--aspen-base-font-size);
  color: blue;
  font-weight: bold;
  margin-top: 15px;
}

.faqAnswer{
  font-size: calc(var(--aspen-base-font-size) * 0.9286);
  font-style: italic;
  margin-left: 1em;
}