body {
  color: #404040;
}
#content-container {
  padding: 0;
}
@media (max-width: 768px) {
  #content-container {
    width: auto;
  }
}
@media (min-width: 768px) {
  #content-container {
    width: 100%;
  }
}
hr.menu {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 0;
  border-top: 1px solid #d3d3d3;
}
.breadcrumbs {
  background-color: #f5f5f5;
  padding: 3px;
  margin-top: 4.6px;
}
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "";
  padding: 0 5px;
  color: #ccc;
}
#system-message-header {
  background-color: #f2f2f2;
  color: black;
  text-align: center;
  padding: 3px;
}
.system-message {
  margin-top: 5px;
  padding: 5px;
}
.system-message-text {
  display: inline-block;
}
.dismissable-system-message-text {
  width: calc(100% - 30px);
}
#header-wrapper {
  padding-top: 0;
  background-color: #f2f2f2;
  margin-bottom: 0;
  padding-bottom: 1em;
}
#header-wrapper.fullWidth {
  padding: 1em;
}
@media (max-width: 479px) {
  #header-logo-container {
    text-align: center;
  }
}
#header-logo {
  padding: 10px 10px 0 0;
}
@media (max-width: 767px) {
  #header-logo {
    max-width: 100%;
    height: auto;
  }
}
#horizontal-menu-bar-container {
  background-color: #f2f2f2;
  border-bottom: 8px solid #b7b7b7;
}
.availableLanguage {
  display: inline-block;
  padding-right: 10px;
}
#menuToggleButton,
.menuToggleButton a.menu-bar {
  width: 36px;
  display: inline-block;
  text-align: center;
}
#select-language.dropdown-menu {
  left: unset;
  right: 0;
}
#menuToggleButton.selected {
  background-color: #ededed;
}
.dropdownMenu {
  display: none;
  position: absolute;
  background-color: #ededed;
  min-width: 220px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 3;
}
#header-menu {
  left: unset;
  right: 0;
  background-color: #ededed;
  min-width: 250px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 3;
  top: 35px;
  margin: 0;
}
#header-menu #logoutLink {
  margin-top: 1em;
}
.header-menu-option {
  margin-bottom: 3px;
  cursor: pointer;
}
.header-menu-option i + span {
  margin-left: 0.5em;
}
#account-menu {
  left: unset;
  right: 0;
  background-color: #ededed;
  min-width: 220px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 3;
  top: 35px;
  margin: 0;
}
#accountMenuToggleButton.selected {
  background-color: #ededed;
}
.childMenuItem {
  margin-left: 15px;
}
.header-menu-section {
  margin-bottom: 3px;
  cursor: pointer;
}
#aspenLanguagesMenuSection {
  font-weight: bold;
  margin-top: 1em;
}
.header-menu-option.languageSelect {
  margin-left: 2em;
}
.header-menu-option.languageSelected {
  margin-left: 1.5em;
}
#library-name-header {
  font-size: 26px;
  color: #8b8b8b;
  font-weight: bold;
  white-space: normal;
  padding-top: 5px;
}
#header-links {
  text-align: center;
}
#header-links .header-link-wrapper:last-of-type {
  border-right: 0 solid black;
}
.header-link-wrapper {
  display: inline-block;
  padding: 2px 15px;
  border-right: 1px solid #0078ae;
}
.header-link-wrapper a {
  font-size: 16px;
}
#footer-container {
  border-top: 8px solid #088ec6;
  padding-top: 3px;
  margin-top: 1em;
  min-height: 150px;
}
@media screen and (max-width: 767px) {
  #footer-container {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 991px) {
  #footer-container {
    padding-left: 40px;
  }
}
#install-info {
  padding-left: 20px;
}
#connect-with-us-info {
  padding-right: 20px;
}
#connect-with-us-label {
  margin-right: 15px;
}
.connect-icon {
  padding: 0 3px 0 3px;
  color: inherit !important;
}
#navigation-controls {
  border-top: 8px solid #088ec6;
  background: #fff;
}
@media print {
  #navigation-controls {
    display: none !important;
  }
}
.menu-bar {
  color: #FFF;
  background-color: #00a4e3;
}
@media print {
  #horizontal-menu-bar-wrapper {
    display: none;
  }
}
#horizontal-menu-bar-container {
  display: flex;
  flex-direction: row;
}
#horizontal-menu-bar-container .menu-section {
  display: block;
}
#horizontal-menu-bar-container .menu-icon {
  line-height: 16px;
  display: inline-block;
  padding: 12px 5px 7px 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}
#horizontal-menu-bar-container .menu-icon:visited,
#horizontal-menu-bar-container .menu-icon:hover,
#horizontal-menu-bar-container .menu-icon:focus {
  text-decoration: none;
  outline: none;
}
#horizontal-menu-bar-container .menu-icon .menu-bar-label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 5px;
  text-align: left;
  display: inline-block;
}
#horizontal-menu-bar-container.fullWidth {
  padding: 0 1em 0 1em;
}
#horizontal-menu-bar-container .dropdown-toggle:not(#header-menu-dropdown):after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.menu-section-left {
  flex-grow: 10;
}
.menu-section-right {
  align-self: flex-end;
}
@media print {
  #side-bar {
    display: none;
  }
}
@media (max-width: 767px) {
  #side-bar {
    display: none;
  }
}
#main-content-with-sidebar {
  padding-bottom: 15px;
}
@media print {
  #main-content-with-sidebar {
    width: 100%;
    display: block !important;
  }
}
.jcarousel ul > li {
  text-align: center;
}
.jcarousel .thumbnail img {
  max-height: 125px !important;
}
#sectionLabel {
  width: 100%;
  background-color: #dcf3fb;
  color: #137DE2;
  text-transform: capitalize;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  font-size: 16px;
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.required-input {
  color: #c62828;
}
.hiddenTitle {
  position: absolute!important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0!important;
  padding: 0!important;
  margin: -1px !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap!important;
}
#language-selection-header {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
}
.translation_id {
  border: 1px solid dimgrey;
  margin-left: 2px;
  padding: 1px;
  font-size: 10px;
  vertical-align: super !important;
  background-color: white;
  color: darkslategrey;
}
.translated {
  background-color: lightgreen;
}
.not_translated {
  background-color: lightpink;
}
.google_translated {
  background-color: lightyellow;
}
.form-control-sm {
  display: block;
  width: 100%;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  color: #555555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-inline select.form-control-sm {
  width: auto;
}
.form-inline .form-control-sm {
  display: inline-block;
}
.navbar-skinny {
  min-height: auto;
  margin-bottom: 0;
}
.badge {
  font-size: 10px;
  text-indent: 0;
}
.badge-primary {
  background-color: #3174AF !important;
}
.badge-success {
  background-color: #2e7d32 !important;
}
ul.account-submenu {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}
.btn-wrap {
  white-space: normal !important;
}
.btn-toolbar .btn-group,
.btn-toolbar .btn {
  margin-bottom: 3px;
}
.label-wrap {
  white-space: normal !important;
}
.placard {
  border: 1px solid #bbb;
  background-color: #f0f5f5;
  padding: 10px;
  margin: 5px;
}
a.placard-link {
  text-decoration: none;
}
a.placard-image-link {
  text-decoration: none;
}
.placard-image {
  float: left;
  padding-right: 10px;
  max-width: 100%;
  height: auto;
}
.placard-body {
  font-weight: normal;
}
.table-sticky {
  overflow-y: auto;
}
.table-sticky thead tr th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}
.rd-container {
  z-index: 1055;
}
#webMenuNavBar {
  background-color: #00a4e3;
  color: #ffffff;
  border: 0;
  border-top: solid #ffffff 2px;
  border-radius: 0;
  min-height: auto;
}
#webMenuNavBar .nav > li > a,
#webMenuNavBar .nav > li > a:visited {
  color: #ffffff;
  padding: 7px 10px;
}
#webMenuNavBar .navbar-nav > li.open > a,
#webMenuNavBar .navbar-nav > li.open > a:visited {
  color: #555555;
}
.help-link {
  margin-top: 20px;
  line-height: 50px;
  text-align: right;
}
.propertyDescription {
  margin-bottom: 6px;
}
.image-popup .modal-dialog {
  width: auto;
}
.image-popup .modal-dialog .img-responsive {
  margin: auto;
}
.badge {
  background-color: #666666;
}
.search_tools.well.small a,
.search_tools.well.small strong {
  padding-right: 0.5em;
}
.search_tools.well.small :last-child {
  padding-right: 0;
}
/* with flexbox */
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
}
.grid-col {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 5px;
}
.previewFrame {
  width: 100%;
  height: 100%;
  border: none;
  min-height: 50vh;
}
.fulfillmentFrame {
  width: 100%;
  height: 100%;
  border: none;
  min-height: 50vh;
}
#explore-more-header {
  padding: 10px 25px 5px 0;
  margin-top: 5px;
  text-align: right;
  color: #FFF;
  background-color: #0092ca;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 16px;
}
#explore-more-body .sectionHeader {
  text-transform: uppercase;
  font-weight: bold;
  color: #000075;
  border-bottom: 2px solid #00a4e3;
  margin-top: 15px;
}
#explore-more-body .section {
  padding-right: 5px;
  margin-bottom: 20px;
}
#explore-more-body .subsectionTitle {
  color: #000075;
}
#explore-more-body .jcarousel-wrapper {
  margin-left: -10px;
  margin-top: 5px;
}
#explore-more-body .jcarousel {
  left: 30px;
  width: calc(100% - 60px);
}
#explore-more-body .thumbnail {
  height: 175px;
  background-color: transparent;
}
#explore-more-body .relatedTitlesContainer {
  height: 175px;
}
.exploreMoreBar {
  border: solid 1px #00a4e3;
  margin: 10px 5px 15px;
  background: rgba(0, 164, 227, 0.05);
}
.exploreMoreBar .exploreMoreBarLabel {
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 18px;
  padding: 4px;
}
@media (max-width: 479px) {
  .exploreMoreBar .exploreMoreBarLabel {
    white-space: normal;
  }
}
.exploreMoreBar .label-left {
  float: left;
  width: 40px;
  min-height: 167px;
  color: #FFF;
}
.exploreMoreBar .label-left,
.exploreMoreBar .label-left img {
  background-color: #00a4e3;
}
.exploreMoreBar .label-left .exploreMoreBarLabel {
  position: absolute;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0 0;
  padding-right: 10px;
  padding-left: 5px;
  line-height: 40px;
}
.exploreMoreBar .label-left + .exploreMoreContainer {
  padding-left: 40px;
  margin: 16px auto;
}
.exploreMoreBar .label-top {
  color: #FFF;
  width: 100%;
}
.exploreMoreBar .label-top,
.exploreMoreBar .label-top img {
  background-color: #00a4e3;
  display: inline-block;
}
.exploreMoreBar .label-top .exploreMoreBarLabel {
  padding-left: 10px;
  display: inline-block;
}
.exploreMoreBar .jcarousel-wrapper {
  margin: 5px auto;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel li {
  display: block !important;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option {
  padding-left: 10px;
  padding-right: 10px;
  height: 175px;
  border: 0 !important;
  display: inline-block;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option .thumbnail {
  border: 0 solid white;
  position: relative;
  display: block;
  background-color: transparent !important;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option .thumbnail a {
  width: 100%;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option .thumbnail a img {
  max-height: 125px;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option .thumbnail .explore-more-image {
  width: 100%;
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option figcaption {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 100;
  overflow-x: hidden;
  position: absolute;
  top: 130px;
  text-align: center;
  width: 100%;
}
#explore-more-body .jcarousel .thumbnail,
.exploreMoreBar .jcarousel .thumbnail {
  margin-bottom: 0;
  height: 175px;
  border: 0 solid white;
}
#explore-more-body .jcarousel-control-prev,
.exploreMoreBar .jcarousel-control-prev,
#explore-more-body .jcarousel-control-next,
.exploreMoreBar .jcarousel-control-next {
  height: 100%;
  background-color: transparent;
  color: #00a4e3;
  z-index: 2;
  box-shadow: white 0px 0px 0px 0px;
}
#explore-more-body .jcarousel-control-prev:focus,
.exploreMoreBar .jcarousel-control-prev:focus,
#explore-more-body .jcarousel-control-next:focus,
.exploreMoreBar .jcarousel-control-next:focus {
  outline: none;
}
#explore-more-body .jcarousel-control-prev .glyphicon,
.exploreMoreBar .jcarousel-control-prev .glyphicon,
#explore-more-body .jcarousel-control-next .glyphicon,
.exploreMoreBar .jcarousel-control-next .glyphicon {
  top: 39px;
}
#explore-more-body .jcarousel-control-prev,
.exploreMoreBar .jcarousel-control-prev {
  left: 2px;
}
#explore-more-body .jcarousel-control-next,
.exploreMoreBar .jcarousel-control-next {
  right: 2px;
}
#explore-more-body .panel-body,
.exploreMoreBar .panel-body {
  background-color: transparent;
}
#pdfContainer {
  border: 1px solid lightgrey;
  margin: 10px;
}
#pdfContainer #pdfContainerBody {
  position: relative;
  width: 100%;
}
#pdfContainer #pdfContainerBody #pdfComponentBox {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#pdfContainer #pdfContainerBody #pdfComponentBox #view-pdf {
  width: 100%;
  height: 100%;
}
#pdfContainer #pdfContainerBody:before {
  content: "";
  display: block;
  padding-top: 129.5%;
  /* ratio of 11:8.5*/
}
#selectLibraryOptions {
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
}
@media (min-width: 0) {
  #selectLibraryOptions {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (min-width: 768px) {
  #selectLibraryOptions {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (min-width: 992px) {
  #selectLibraryOptions {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.top-link {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #ffffff;
  background-color: #747474;
  z-index: 1039;
}
.top-link.show {
  visibility: visible;
  opacity: 1;
}
.top-link.hide {
  visibility: hidden;
  opacity: 0;
}
.top-link i {
  color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
}
.top-link:hover {
  background-color: #636363;
  border-color: #636363;
  filter: brightness(0.95);
}
.top-link:hover i {
  color: #ffffff;
}
#valueListRow .input-group-addon.radioAmount label {
  width: 100%;
  height: 50px;
  padding: 10px 16px;
  margin-bottom: 0;
}
#valueListRow .input-group-addon.radioAmount label input[type="radio"]:checked {
  margin: 0;
}
#valueListRow .input-group-addon.radioAmount label:hover {
  background-color: white;
}
.radio-toolbar {
  display: inline-block;
  margin: 10px;
}
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar input[type="radio"]:checked + label {
  background-color: #bfb;
  border-color: #4c4;
}
.radio-toolbar input[type="radio"]:focus + label {
  border: 2px dashed #444;
}
.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}
.radio-toolbar label:hover {
  background-color: #dfd;
}
#FloatingSave {
  position: fixed;
  bottom: 10%;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  z-index: 9999999;
}
#FloatingSave .btn-primary {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
.stripPopup {
  background-color: #1d7ff0;
}
.stripPopup .btnWrap a.button {
  color: white;
  border: 1px solid white;
}
.stripPopup .btnWrap a.button:hover {
  background-color: red;
}
.stripPopup .cookieContainer span {
  color: #fff;
}
.stripPopup .cookieContainer abbr {
  color: white;
}
#account-menu-label {
  justify-content: left;
  text-align: left;
}
#sidebar-collapse {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
}
#side-bar.collapsed {
  position: absolute !important;
  width: 48px !important;
  overflow: visible !important;
  z-index: 3000 !important;
  margin-left: 20px;
}
/* Hide everything except the toggle button. */
#side-bar.collapsed #account-menu-label > :not(.sidebar-toggle-wrapper),
#side-bar.collapsed #home-account-links,
#side-bar.collapsed .sidebar-title {
  display: none !important;
}
/* Style the toggle button's background. */
#side-bar.collapsed #sidebar-collapse {
  margin: auto;
  display: flex !important;
  align-items: center;
  justify-content: center;
  top: 0 !important;
  right: 0 !important;
  width: 38px !important;
  height: 36px !important;
  border-radius: 10% !important;
}
#sidebar-collapse button i {
  transition: transform 0.2s ease-in-out;
}
#side-bar.collapsed #sidebar-collapse button i {
  transform: rotate(180deg);
}
/* Remove sidebar-label background when collapsed. */
#side-bar.collapsed .sidebar-label {
  background: none !important;
  padding: 0 !important;
}
#side-bar.collapsed ~ #main-content-with-sidebar {
  margin-left: 0 !important;
  width: 100% !important;
}
/* Breadcrumb indent for collapsed sidebar. */
@media (min-width: 768px) {
  #side-bar.collapsed + #main-content-with-sidebar .breadcrumbs {
    margin-left: 60px !important;
  }
}
/* "Make Content Full Width" in theme settings */
body.fullWidthContent {
  /* Make series or you might like covers bigger */
  /* Reduce space between tabs and what changes */
  /* Deal with large covers on homepage-standard browse categories*/
  /*Fix images on results page*/
  /*Reduce Browse Category bottom margin from 5em */
  /* reduce space between tabs */
  /* Width of information on details page so hold button isn't so far over */
  /* change width for sort by area */
  /* change width for sort by area */
  /* tighten sign-in page */
  /* tighten library card barcodes */
  /*Limit the size of the Explore More Box */
  /*Group format Categories together*/
  /*Limit Size of Linked User Dropdown*/
  /*Limit Width Advanced Search Content*/
  /* Narrow Events Filter*/
  /* Limit width of preferences / contact information forms*/
  /* Limit the Width of Forms*/
}
body.fullWidthContent .container,
body.fullWidthContent .container-fluid {
  max-width: 1900px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  body.fullWidthContent #side-bar {
    width: 13%;
  }
  body.fullWidthContent #main-content-with-sidebar {
    width: 87%;
  }
}
body.fullWidthContent #more-details-accordion {
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
}
body.fullWidthContent .scrollerTitleCover {
  max-height: 300px;
}
body.fullWidthContent .horizontalSliders {
  margin-bottom: 0;
}
body.fullWidthContent #home-page-browse-results .browse-thumbnail img {
  width: auto;
  max-height: 300px;
}
body.fullWidthContent .swiper-slide img {
  max-height: 250px;
  width: auto;
  object-fit: contain;
}
body.fullWidthContent .results-covers-view.home-page-browse-results-grid.home-page-browse-results-grid-grid .browse-thumbnail {
  height: auto !important;
  min-height: 350px !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body.fullWidthContent .browse-category-feed-item {
  margin-bottom: 2em !important;
}
body.fullWidthContent .slider-wrapper {
  gap: 2px !important;
}
body.fullWidthContent #record-details-column {
  max-width: 500px;
}
body.fullWidthContent div.col-md-4:has(label[for="results-sort"]) {
  width: 40% !important;
}
body.fullWidthContent div.col-md-8:has(.btn-toolbar) {
  width: 60% !important;
}
body.fullWidthContent #loginFormFields {
  max-width: 600px !important;
  margin: 0 auto !important;
  /* Centers the 400px block on the page */
  display: block;
}
body.fullWidthContent #library-barcode {
  text-align: left;
  padding-left: 100px;
}
body.fullWidthContent .exploreMoreBar {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
body.fullWidthContent .categoryValue {
  max-width: 150px;
}
body.fullWidthContent #linkedUsersDropdown.form-control {
  max-width: 300px;
}
body.fullWidthContent .advSearchContent {
  max-width: 800px;
  margin: 0 auto;
}
body.fullWidthContent div#eventsFilter.form-group.col-sm-6 {
  max-width: 300px;
}
body.fullWidthContent#MyAccount-MyPreferences form[role="form"],
body.fullWidthContent#MyAccount-ContactInformation form[role="form"] {
  max-width: 1200px;
  margin: 0 auto;
}
body.fullWidthContent #pin,
body.fullWidthContent #pin1,
body.fullWidthContent #pin2,
body.fullWidthContent #newUsername,
body.fullWidthContent #overdriveEmail {
  max-width: 300px;
  margin-left: 30px;
}
/*# sourceMappingURL=layout.css.map */