#explore-more-sidebar {
  background-color: #00a4e3;
  background: -webkit-linear-gradient(top, #00a4e3, #147ce2);
  background: linear-gradient(to bottom, #00a4e3, #147ce2);
}
#explore-more-header {
  padding: 10px 25px 5px 0;
  margin-top: 5px;
  text-align: right;
  color: #FFF;
  background-color: #0092ca;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 16px;
}
#sidebar-content {
  background-color: #f8f8f8;
}
@media (max-width: 767px) {
  #sidebar-content {
    border: none;
  }
}
#explore-more-body .sectionHeader {
  text-transform: uppercase;
  font-weight: bold;
  color: #000075;
  border-bottom: 2px solid #00a4e3;
  margin-top: 15px;
}
#explore-more-body .section {
  padding-right: 5px;
  margin-bottom: 20px;
}
#explore-more-body .subsectionTitle {
  color: #000075;
}
#explore-more-body .jcarousel-wrapper {
  margin-left: -10px;
  margin-top: 5px;
}
#explore-more-body .jcarousel {
  left: 30px;
  width: calc(100% - 60px);
}
#explore-more-body .thumbnail {
  height: 175px;
  background-color: transparent;
}
#explore-more-body .relatedTitlesContainer {
  height: 175px;
}
.exhibit-thumbnail {
  margin: 8px;
  float: left;
}
.exploreMoreBar {
  border: solid 1px #00a4e3;
  margin: 10px 5px 15px;
}
.exploreMoreBar .exploreMoreBarLabel {
  color: #FFF;
  background-color: #00a4e3;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.exploreMoreBar .label-left {
  float: left;
  width: 40px;
  min-height: 167px;
  color: #FFF;
}
.exploreMoreBar .label-left,
.exploreMoreBar .label-left img {
  background-color: #00a4e3;
}
.exploreMoreBar .label-left .exploreMoreBarLabel {
  position: absolute;
  -webkit-transform: rotate(-90deg) translateX(-100%);
          transform: rotate(-90deg) translateX(-100%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  padding-right: 10px;
  padding-left: 5px;
  line-height: 40px;
}
.exploreMoreBar .label-left + .exploreMoreContainer {
  padding-left: 40px;
  margin: 16px auto;
}
.exploreMoreBar .label-top {
  color: #FFF;
  width: 100%;
}
.exploreMoreBar .label-top,
.exploreMoreBar .label-top img {
  background-color: #00a4e3;
  display: inline-block;
}
.exploreMoreBar .label-top .exploreMoreBarLabel {
  padding-left: 10px;
  display: inline-block;
}
.exploreMoreBar .jcarousel-wrapper {
  margin: 5px auto;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel li {
  display: block !important;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option .thumbnail {
  border: 0 solid white;
  position: relative;
  display: block;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option .thumbnail a img {
  height: 125px;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option .thumbnail .explore-more-image {
  width: 100%;
  position: absolute;
  top: 62px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}
.exploreMoreBar .jcarousel-wrapper .jcarousel .explore-more-option figcaption {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 100;
  overflow-x: hidden;
  position: absolute;
  top: 130px;
  width: 100%;
  text-align: center;
}
#explore-more-body .jcarousel .thumbnail,
#relatedProjectScroller .jcarousel .thumbnail,
#relatedProjectOtherScroller .jcarousel .thumbnail,
#relatedContentTypesContainer .jcarousel .thumbnail,
.exploreMoreBar .jcarousel .thumbnail,
#book-sections .jcarousel .thumbnail {
  margin-bottom: 0;
  height: 175px;
  border: 0 solid white;
}
#explore-more-body .jcarousel-control-prev,
#relatedProjectScroller .jcarousel-control-prev,
#relatedProjectOtherScroller .jcarousel-control-prev,
#relatedContentTypesContainer .jcarousel-control-prev,
.exploreMoreBar .jcarousel-control-prev,
#book-sections .jcarousel-control-prev,
#explore-more-body .jcarousel-control-next,
#relatedProjectScroller .jcarousel-control-next,
#relatedProjectOtherScroller .jcarousel-control-next,
#relatedContentTypesContainer .jcarousel-control-next,
.exploreMoreBar .jcarousel-control-next,
#book-sections .jcarousel-control-next {
  height: 100%;
  background-color: transparent;
  color: #00a4e3;
  z-index: 2;
  box-shadow: white 0px 0px 0px 0px;
}
#explore-more-body .jcarousel-control-prev:focus,
#relatedProjectScroller .jcarousel-control-prev:focus,
#relatedProjectOtherScroller .jcarousel-control-prev:focus,
#relatedContentTypesContainer .jcarousel-control-prev:focus,
.exploreMoreBar .jcarousel-control-prev:focus,
#book-sections .jcarousel-control-prev:focus,
#explore-more-body .jcarousel-control-next:focus,
#relatedProjectScroller .jcarousel-control-next:focus,
#relatedProjectOtherScroller .jcarousel-control-next:focus,
#relatedContentTypesContainer .jcarousel-control-next:focus,
.exploreMoreBar .jcarousel-control-next:focus,
#book-sections .jcarousel-control-next:focus {
  outline: none;
}
#explore-more-body .jcarousel-control-prev .glyphicon,
#relatedProjectScroller .jcarousel-control-prev .glyphicon,
#relatedProjectOtherScroller .jcarousel-control-prev .glyphicon,
#relatedContentTypesContainer .jcarousel-control-prev .glyphicon,
.exploreMoreBar .jcarousel-control-prev .glyphicon,
#book-sections .jcarousel-control-prev .glyphicon,
#explore-more-body .jcarousel-control-next .glyphicon,
#relatedProjectScroller .jcarousel-control-next .glyphicon,
#relatedProjectOtherScroller .jcarousel-control-next .glyphicon,
#relatedContentTypesContainer .jcarousel-control-next .glyphicon,
.exploreMoreBar .jcarousel-control-next .glyphicon,
#book-sections .jcarousel-control-next .glyphicon {
  top: 39px;
}
#explore-more-body .jcarousel-control-prev,
#relatedProjectScroller .jcarousel-control-prev,
#relatedProjectOtherScroller .jcarousel-control-prev,
#relatedContentTypesContainer .jcarousel-control-prev,
.exploreMoreBar .jcarousel-control-prev,
#book-sections .jcarousel-control-prev {
  left: 2px;
}
#explore-more-body .jcarousel-control-next,
#relatedProjectScroller .jcarousel-control-next,
#relatedProjectOtherScroller .jcarousel-control-next,
#relatedContentTypesContainer .jcarousel-control-next,
.exploreMoreBar .jcarousel-control-next,
#book-sections .jcarousel-control-next {
  right: 2px;
}
#explore-more-body .panel-body,
#relatedProjectScroller .panel-body,
#relatedProjectOtherScroller .panel-body,
#relatedContentTypesContainer .panel-body,
.exploreMoreBar .panel-body,
#book-sections .panel-body {
  background-color: transparent;
}
.exhibitPage.exploreMoreBar .jcarousel .thumbnail {
  height: 200px;
}
#relatedProjectScroller .thumbnail,
#relatedContentTypesContainer .thumbnail {
  border-width: 0;
}
.large-image-content {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  box-sizing: border-box;
}
#download-options {
  margin-top: 5px;
  margin-bottom: 7px;
  text-align: center;
}
.openseadragon {
  display: block;
  width: 100%;
  height: 500px;
  box-sizing: border-box;
}
.openseadragon canvas {
  background-color: #000 !important;
  /* should be replaced with OpenSeadragon setting */
}
.openseadragon-highlight {
  background-color: #F00;
  opacity: 0.5;
}
#exhibit-map {
  width: 100%;
  height: 500px;
}
#alternate-image-navigator {
  text-align: center;
}
.alternate-image {
  display: inline-block;
  margin: 3px;
}
.explore-more-scroller-link {
  display: block;
  text-align: center;
}
.book-pdf {
  width: 100%;
  height: 600px;
}
#view-transcription {
  width: 100%;
  height: 600px;
  text-align: left;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
}
#book-sections li.active figure {
  outline: dotted thin;
}
.transcriptLocation {
  font-weight: bold;
  font-size: larger;
}
.transcript {
  margin-bottom: 5px;
}
.archiveComponentContainer .archiveComponent {
  border: 1px solid lightgrey;
  background-color: #00a4e3;
  background: -webkit-linear-gradient(left, white, white 120px, #00a4e3 121px, #00a4e3);
  background: linear-gradient(90deg, white, white 120px, #00a4e3 121px, #00a4e3);
  color: #FFF;
  font-size: 20px;
  margin: 10px;
}
.archiveComponentContainer .archiveComponent .archiveComponentHeader {
  width: 100%;
  text-align: center;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody {
  position: relative;
  width: 100%;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody a,
.archiveComponentContainer .archiveComponent .archiveComponentBody a:visited {
  color: white;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody .archiveComponentBox {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody .archiveComponentBox .archiveComponentImage {
  position: absolute;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody .archiveComponentBox .archiveComponentControls {
  position: absolute;
  left: 130px;
  overflow: hidden;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody .archiveComponentBox #searchComponentForm {
  background-color: white;
  border: 1px solid #007fb0;
  padding: 3px;
  margin-left: 5px;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody .archiveComponentBox #exhibit-map {
  width: 100%;
  height: 100%;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody .archiveComponentBox .archiveComponentLinks {
  padding: 20px;
  font-size: 14px;
  color: #6B6B6B;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody .archiveComponentBox .archiveComponentRandomImage {
  padding: 20px;
  font-size: 14px;
  color: #6B6B6B;
  text-align: center;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody .archiveComponentBox .archiveComponentRandomImage figure a img {
  max-height: 170px;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody .archiveComponentBox .archiveComponentRandomImage #refreshRandomImage {
  position: absolute;
  right: 10px;
  top: 55px;
}
.archiveComponentContainer .archiveComponent .archiveComponentBody:before {
  content: "";
  display: block;
  padding-top: 32%;
  /* ratio of 2:1*/
}
.archiveComponentContainer .archiveComponent.horizontalComponent {
  background-color: #00a4e3;
  background: -webkit-linear-gradient(#00a4e3, #00a4e3 45px, white 46px, white);
  background: linear-gradient(#00a4e3, #00a4e3 45px, white 46px, white);
}
.archiveComponentContainer .archiveComponent.horizontalComponent .archiveComponentBody:before {
  content: "";
  display: block;
  padding-top: 64%;
}
.browseFilterContainer .archiveComponentHeader {
  padding-top: 5%;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}
#pdfContainer {
  border: 1px solid lightgrey;
  margin: 10px;
}
#pdfContainer #pdfContainerBody {
  position: relative;
  width: 100%;
}
#pdfContainer #pdfContainerBody #pdfComponentBox {
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#pdfContainer #pdfContainerBody #pdfComponentBox #view-pdf {
  width: 100%;
  height: 100%;
}
#pdfContainer #pdfContainerBody:before {
  content: "";
  display: block;
  padding-top: 129.5%;
  /* ratio of 11:8.5*/
}
.related-objects .browse-thumbnail-sorted {
  border: 0 solid white;
  position: relative;
  padding: 4px 0;
  overflow: visible;
  display: inline-block;
  width: 100%;
}
.related-objects .browse-thumbnail-sorted a img {
  max-height: 125px;
  position: absolute;
  top: 62px;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  left: 50%;
}
.related-objects .browse-thumbnail-sorted a img :not(#relatedOrganizationsPanelBody) {
  height: 125px;
}
.related-objects .browse-thumbnail-sorted figcaption {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 100;
  overflow-x: hidden;
  position: absolute;
  top: 130px;
  width: 100%;
  text-align: center;
}
.related-objects .browse-thumbnail-sorted {
  /* autoprefixer: off */
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  break-inside: avoid;
  break-inside: avoid-column;
}
