@wallingford-green: #8CC626;
@wallingford-green-2: #8dc727;

@wallingford-blue: #2977a9;
@wallingford-button-blue: #0896fe;

//@lion-light-blue: #9dd1f2;
//@lion-dark-blue: #130840;
//
//@lion-menu-blue: #74C1F2;

@header-height: 150px;
@header-logo-height: @header-height - 10px;

@home-search-top-color: @wallingford-blue; //Top color for background gradient in header
@home-search-bottom-color: @wallingford-blue;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: darken(@wallingford-green, .15);
@menu-bar-selected-background-color: @wallingford-blue;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: #fff;
@footer-top-border-color: #fff;


@header-buttons-background-color : @wallingford-green;

@btn-primary-bg: @wallingford-button-blue;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @wallingford-green;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: darken(@wallingford-green, .15);
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: #000;
@browse-category-text-color: #000;
@selected-browse-label-search-color: #000;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @wallingford-green;