//Variables Customizations for Buena Vista theme
@header-top-color: #FFFFFF; //Top color for background gradient in header
@header-middle-color: #FBFAFF; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #81ACD4; //Bottom color for background gradient in header
//@header-bottom-color: #FFFFFF; //Bottom color for background gradient in header

@header-bottom-border-color: #81ACD4;
@footer-top-border-color: #000066;
@header-height: 120px;

@home-search-top-color: #81ACD4; //Top color for background gradient in header
@home-search-bottom-color: #000066;

@category1MainColor:  #000066;
//@categoryLineColor: @vail_logo_green;
//@categoryLineShadow: darken(@vail_logo_green,20%);

//@menu-bar-background-color: @home-search-bottom-color;
@menu-bar-background-color: @header-bottom-color;
//@menu-bar-selected-background-color: @header-bottom-color;