a, a:visited{
	color: green;
}
a:hover{
	color: darkgreen;
	text-decoration: underline;
}
.searchheader{
	background-color: white;
	position: relative;
	border-bottom: 2px solid darkgreen;
}
#header_logo{
	padding-right: 20px;
}
.searchHomeForm{
	color: white;
	background-color: #45820D;
	border-top: 2px solid darkgreen;
}
.searchHomeForm a,.searchHomeForm a:visited{
	color: white;
}
.searchHomeContent{
	padding: 0;
}
#searchbar{
	color: white;
	background-color: #45820D;
}
#searchbar a,#searchbar a:visited{
	color: white;
}
#searchbar a:hover{
	color: lightyellow;
}
td.holdings-section{
	background-color: #45820D;
}
.titleScrollerBody{
	border: 1px solid #949494;
	border-radius: 3px 3px 3px 3px;
	margin: 6px 0px;
}
.sidegroup h4{
	background-color: #56A717;
}