@blackstone-light-purple: #95548E;
@blackstone-dark-purple: #7C3B7B;
@blackstone-very-light-green: #E1EAE5;
@blackstone-light-green: #C8DFCE;
@blackstone-green: #8FBC99;
@blackstone-light-blue: #82C1B5;

@blackstone-text-teal: #45b6b7;


@body-bg-resp: @blackstone-very-light-green;

  //@lion-light-blue: #9dd1f2;
//@lion-dark-blue: #130840;
//
//@lion-menu-blue: #74C1F2;


@header-height: 150px;
@header-logo-height: @header-height - 10px;

@home-search-top-color: @blackstone-green;
@home-search-bottom-color: @blackstone-green;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @blackstone-light-blue;
@menu-bar-selected-background-color: @blackstone-light-purple;

@header-top-color: @blackstone-light-purple; //Top color for background gradient in header
@header-middle-color: @blackstone-light-purple; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: @blackstone-light-purple; //Bottom color for background gradient in header

//@header-top-color: @blackstone-dark-purple; //Top color for background gradient in header
//@header-middle-color: @blackstone-dark-purple; //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: @blackstone-dark-purple; //Bottom color for background gradient in header
//

//@header-bottom-border-color: @blackstone-dark-purple;
@header-bottom-border-color: @blackstone-light-purple;
@footer-top-border-color: @blackstone-dark-purple;


//@header-buttons-background-color : @blackstone-light-purple;
@header-buttons-background-color : @blackstone-dark-purple;
//@header-buttons-text-color : @blackstone-light-purple;

@btn-primary-bg: @blackstone-dark-purple;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @blackstone-dark-purple;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @blackstone-green;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @blackstone-text-teal;
@browse-category-text-color: @blackstone-text-teal;
@selected-browse-label-search-color: @blackstone-text-teal;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @blackstone-light-blue;