@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;

@mitchell-gray: #5E5E5E;

@mitchell-red: #ff0000;


@header-height: 150px;
@header-logo-height: 131px;

// Page Background Variables
//@body-bg: @santafe-easier-to-read-white;
//@content-bg: @santafe-easier-to-read-white;
//@body-bg-resp: @brainerd-tan;


@home-search-top-color: @mitchell-gray;
@home-search-bottom-color: @mitchell-gray;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @mitchell-gray;
@menu-bar-selected-background-color: @mitchell-red;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: @mitchell-red;
@header-bottom-border-width: 2px;
@footer-top-border-color: @mitchell-gray;

@library-display-name-color: @mitchell-gray;

@header-buttons-background-color : #333;

@btn-primary-bg: #333;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @mitchell-red;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: #000;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: #000;
@browse-category-text-color: #000;
@selected-browse-label-search-color: #000;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @mitchell-gray;