@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;

// Colors from previous site
//@hamden-tan: #F9F2DE;
//@hamden-green:#36b087;
//@hamden-menu-text-black: #3b3b3b;
//@hamden-header-text-blue: #089bc3;
//@hamden-header-text-purple: #9966CC;

@hamden-orange: #FBA03C;
@hamden-red: #B71739;

@hamden-menu-text-black: #000;

@header-height: 150px;
@header-logo-height: 125px;

// Page Background Variables
//@body-bg: @santafe-easier-to-read-white;
//@content-bg: @santafe-easier-to-read-white;
//@body-bg-resp: @hamden-tan;

//@home-search-label-color: @hamden-menu-text-black;

@home-search-top-color: @hamden-red;
@home-search-bottom-color: @hamden-red;
//@home-search-top-color: #fff;
//@home-search-bottom-color: #fff;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @hamden-red;
@menu-bar-selected-background-color: @hamden-orange;

@header-top-color: #fff;
@header-middle-color: #fff;
@header-bottom-color: #fff;


@header-bottom-border-width: 0;
@header-bottom-border-color: @hamden-red;
@footer-top-border-color: @hamden-orange;


@header-buttons-background-color : @hamden-orange;

@btn-primary-bg: @hamden-orange;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @hamden-orange;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @hamden-red;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @hamden-menu-text-black;
@browse-category-text-color: @hamden-menu-text-black;
@selected-browse-label-search-color: @hamden-menu-text-black;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @hamden-red;