// Variables Customizations for Garfield County theme
@garfieldDarkBlue: #0078AE;
@garfieldBrown:  #80561B;

@category1MainColor: #FFF;
@categoryLineColor: #FFF;
@categoryLineShadow: #FFF;
@selectedCategoryColor: #FFF;

// set all browse category colors to the first color to remove lightening of successive categories. plv 9-17-2014
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;


// Selected Category border color to highlight Selected category
//@selectedCategoryBorderColor: lighten(@garfieldBrown, 30%); //softer touch
@selectedCategoryBorderColor: @garfieldBrown;

@menu-bar-background-color: @garfieldDarkBlue;
//@menu-bar-selected-background-color: @garfieldBrown;

@home-search-top-color: @garfieldDarkBlue;
@home-search-bottom-color: @garfieldDarkBlue;
@home-search-bottom-color: @garfieldDarkBlue;