@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;

@russell-blue: #002569;

@russell-background-tan: #EDE4D8;
@russell-menu-tan: #E5D4BE;
@russell-selected-red: #660000;

//@font-family-sans-serif-resp: "Open Sans", Arial, Helvetica, sans-serif;
//@library-display-name-font: @font-family-sans-serif-resp;

@header_image : url('/interface/themes/russell/images/header_background.png');

//@header-height: 150px;
//@header-logo-height: 140px;

// Page Background Variables
//@body-bg: @santafe-easier-to-read-white;
//@content-bg: @santafe-easier-to-read-white;
@body-bg-resp: @russell-background-tan;

@library-display-name-color: #fff;

@home-search-top-color: @russell-blue; //Top color for background gradient in header
@home-search-bottom-color: @russell-blue;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @russell-menu-tan;
@menu-bar-selected-background-color: @russell-selected-red;

@header-top-color: @russell-blue; //Top color for background gradient in header
@header-middle-color: @russell-blue; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: @russell-blue; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-width: 2px;
@header-bottom-border-color: #fff;
@footer-top-border-color: @russell-blue;


@header-buttons-background-color : #fff;

@btn-primary-bg: @russell-selected-red;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @russell-selected-red;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @russell-menu-tan;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;
@selectedSubCategoryFontColor: @russell-selected-red;

// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @russell-blue;
@browse-category-text-color: @russell-blue;
@selected-browse-label-search-color: @russell-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @russell-blue;