//Variables Customizations for Pitkin theme
@pitkin-line-black: #333333;
@pitkin-logo-gray: #717174;
@pitkin-active-blue: #5183BF;
@pitkin-sidebar-menu-gray: #3339;
@pitkin-heading-gray: #939396;
@pitkin-green: #799a28;
@pitkin-link-blue: #5183bf;
@pitkin-menu-option-white: #fff;

@header-top-color: #817C81; //Top color for background gradient in header
@header-middle-color: #525254; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #444545; //Bottom color for background gradient in header
@header-bottom-border-color: #333333;
@footer-top-border-color: #333333;
@header-height: 130px;


//@header-buttons-background-color : fade(#fff, 60%); // try lighter
//@header-buttons-background-color : fade(#fff, 56%);

// with logo with white text
@header-buttons-background-color : rgba(51,51,51,0.6);

@menu-bar-background-color: @pitkin-heading-gray;
@menu-bar-selected-background-color: @pitkin-active-blue;

@home-search-top-color: #fff;
@home-search-bottom-color: #e0e0e1;
@home-search-label-color:@pitkin-heading-gray;

@btn-primary-bg: @pitkin-active-blue;
@accordion-active-header-backgroundcolor: @pitkin-active-blue;
@accordion-header-bg-color: @pitkin-sidebar-menu-gray;
@accordion-header-bottom-gradient-color: @pitkin-sidebar-menu-gray;
//TODO: create color variables for search facet accordions

@category1MainColor: @pitkin-menu-option-white;
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;


@categoryLineColor: @pitkin-menu-option-white;
@categoryLineShadow: @pitkin-menu-option-white;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @pitkin-active-blue;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;
@selectedCategoryBorderColor: @pitkin-sidebar-menu-gray;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @pitkin-green;
@browse-category-text-color: @pitkin-heading-gray;
@browse-label-text-color: @pitkin-green;
@browse-label-line-color: @content-bg;