@marmot-dark-orange: #E15F15;
@marmot-light-orange: #EA7315;
@marmot-light-blue: #5891AA;
@marmot-dark-blue: #467E99;

@marmot-main-menu-gray: #848484;
@marmot-light-gray: #EEEEEE;



@home-search-top-color: @marmot-dark-blue; //Top color for background gradient in header
@home-search-bottom-color: @marmot-light-blue;

@sidebar-link-color: @marmot-light-blue;
@menu-bar-background-color: @marmot-dark-blue;
@menu-bar-selected-background-color: @marmot-dark-orange;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: @marmot-dark-blue;
@footer-top-border-color: @marmot-dark-blue;


@header-buttons-background-color : @marmot-dark-orange;

@btn-primary-bg: @marmot-light-blue;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @marmot-dark-orange;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @marmot-light-orange;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @marmot-dark-blue;
@browse-category-text-color: @marmot-dark-blue;
@selected-browse-label-search-color: @marmot-dark-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @marmot-dark-orange;