//Variables Customizations for Mesa County Public Library theme

@mesaBlue: #004A8D;
@mesaSearchBoxBlue: #336fa3;

@header-top-color: #FFFFFF; //Top color for background gradient in header
@header-middle-color: #FFFFFF; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #FFFFFF; //Bottom color for background gradient in header
@header-bottom-border-color: @mesaBlue;
@footer-top-border-color: @mesaBlue;

@menu-bar-background-color: @mesaSearchBoxBlue;