# The centos7/mariadb setups can link to this file directly with a symbolic link in /etc/my.cnf.d

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

#Optimize table cache based on our number of tables
table_open_cache = 275
max_connections = 1000
#Found statement that open_files_limit should be at least table_cache * 2 + max_connections
open_files_limit = 5000

#additional recommendations from MySQLTuner
thread_cache_size = 4
key_buffer_size = 3G
query_cache_limit = 3M
query_cache_size = 12M
innodb_buffer_pool_size = 20G
innodb_flush_method = O_DIRECT
# ininnodb_flush_method taken from mercury settings. 2-18-2015

# MDN 12/11/2013
# turn on file per table for innodb
innodb_file_per_table

#Make sure that we use utf-8 always
init_connect = 'SET collation_connection = utf8_general_ci'
init_connect = 'SET NAMES utf8'
character-set-server = utf8
collation-server = utf8_general_ci

connect_timeout=10

[mysqld_safe]
#prior to centos 7
#log-error=/var/log/mysqld.log
#pid-file=/var/run/mysqld/mysqld.pid

#centos 7
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

[mysqladmin]
character-sets-dir       = /usr/share/mysql/charsets
default-character-set    = utf8

[mysqlcheck]
character-sets-dir       = /usr/share/mysql/charsets
default-character-set    = utf8

[mysqldump]
quick
quote-names
max_allowed_packet      = 16M
character-sets-dir       = /usr/share/mysql/charsets
default-character-set    = utf8

[mysqlimport]
character-sets-dir       = /usr/share/mysql/charsets
default-character-set    = utf8

[mysqlshow]
character-sets-dir       = /usr/share/mysql/charsets
default-character-set    = utf8

[mysql]
character-sets-dir       = /usr/share/mysql/charsets
default-character-set    = utf8

[isamchk]
key_buffer              = 16M

[myisamchk]
character-sets-dir       = /usr/share/mysql/charsets

[myisampack]
character-sets-dir       = /usr/share/mysql/charsets