
// From Logos
@summit-green: #8b8d4a;
@summit-blue: #4e748b;
@summit-gray: #898c8d;

// taken from website
@summit-accent-gray: #CDD6DD;


@header-top-color: @summit-accent-gray;
@header-middle-color: @summit-accent-gray;
@header-bottom-color: @summit-accent-gray;
@header-middle-color: @summit-accent-gray;

@header-bottom-border-color: @summit-green;
@footer-top-border-color: @summit-green;

@home-search-top-color: @summit-blue;
@home-search-bottom-color: lighten(@summit-blue, 5%);
//@home-search-bottom-color: @summit-blue;
@menu-bar-background-color: @summit-blue;
@menu-bar-selected-background-color: @summit-gray;

// Browse Category Colors
@category1MainColor: @summit-blue;
@categoryLineColor: @summit-green;
@categoryLineShadow: @summit-gray;
@selectedCategoryBorderColor: @summit-green;

@browse-header-background-color: @summit-accent-gray;
//@browseCarouselControlBackgroundColor: @summit-gray;
@browseCarouselControlColor: @summit-green;