//@lion-light-blue: #9dd1f2;
//@lion-dark-blue: #130840;
//@lion-menu-blue: #74C1F2;


@ivoryton-purple: #59002f;
@ivoryton-black: #444;

@easthaddam-black: @ivoryton-black;
@easthaddam-red: @ivoryton-purple;

@easthaddam-secondary-text-black: #222;

@header-height: 150px;
@header-logo-height: @header-height;

@library-display-name-color: #000;

@home-search-top-color: @easthaddam-black; //Top color for background gradient in header
@home-search-bottom-color: @easthaddam-black;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: @easthaddam-black;
@menu-bar-selected-background-color: @easthaddam-red;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: #FFF;
@footer-top-border-color: @easthaddam-black;


@header-buttons-background-color : @easthaddam-black;

@btn-primary-bg: @easthaddam-red;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @easthaddam-red;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @easthaddam-black;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: #000;
@browse-category-text-color: #000;
@selected-browse-label-search-color: @easthaddam-secondary-text-black;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @easthaddam-red;