@lion-light-blue: #9dd1f2;
@lion-dark-blue: #130840;
@lion-menu-blue: #74C1F2;

@meriden-blue: #34678a;

@meriden-top-light-blue: #3C7298;
@meriden-bottom-dark-blue: #1F4761;

@meriden-logo-red: #A00502;

@meriden-offwhite: #F8F8F8;

@header-height: 160px;
@header-logo-height: 150px;

@home-search-top-color: @meriden-top-light-blue; //Top color for background gradient in header
@home-search-bottom-color: @meriden-bottom-dark-blue;

//@sidebar-link-color: @lion-light-blue;
@menu-bar-background-color: #ccc;
@menu-bar-selected-background-color: @meriden-blue;

@header-top-color: #ffffff; //Top color for background gradient in header
@header-middle-color: #ffffff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #ffffff; //Bottom color for background gradient in header

//@header-top-color: #ffc28e; //Top color for background gradient in header
//@header-middle-color: lighten(#ffc28e, 50%); //middle color for background gradient in header @80% of header height from bottom
//@header-bottom-color: #ffffff; //Bottom color for background gradient in header

@header-bottom-border-color: #fff;
@footer-top-border-color: #ccc;


@header-buttons-background-color : @meriden-blue;

@btn-primary-bg: @meriden-logo-red;

@category1MainColor: #ffffff;
@categoryLineColor: #ffffff;
@categoryLineShadow: #ffffff;
@selectedCategoryBorderColor: #ffffff;

@browse-header-background-color: #ffffff;
@browseCarouselControlBackgroundColor: #ffffff;
@browseCarouselControlColor: @meriden-logo-red;

// Selected Category color to give a highlighted appearance
@selectedCategoryColor: @meriden-blue;
@selectedSubCategoryBackgroundColor: @selectedCategoryColor;


// set all browse category colors to the first color to remove lightening of successive categories. plb 9-17-2014*/
@category2MainColor: @category1MainColor;
@category3MainColor: @category1MainColor;
@category4MainColor: @category1MainColor;
@category5MainColor: @category1MainColor;
@category6MainColor: @category1MainColor;
@category7MainColor: @category1MainColor;
@category8MainColor: @category1MainColor;
@category9MainColor: @category1MainColor;

@browse-label-text-color: @lion-dark-blue;
@browse-category-text-color: @lion-dark-blue;
@selected-browse-label-search-color: @lion-dark-blue;
@browse-category-font-size: 30px;

// set opened accordions color
@accordion-active-header-backgroundcolor: @meriden-blue;