.searchHomeForm {
	background-color: #23410D;
	border-color: #183600;
}
#ft{
	text-align: center;
}
.searchheader {
	text-align: center;
	background-color: white;
}
#searchbar{
	background-color: #D7CF7B;
	color: black;
}
