//Variables Customizations for Gunnison Library District theme
@header-top-color: #fff; //Top color for background gradient in header
@header-middle-color: #fff; //middle color for background gradient in header @80% of header height from bottom
@header-bottom-color: #fff; //Bottom color for background gradient in header
@header-bottom-border-color: #7CA561;
@footer-top-border-color: #7CA561;
@header-height: 140px;