<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./phpUnitBootstrap.php"
		 backupGlobals="false"
		 colors="true"
		 processIsolation="false"
		 stopOnError="false"
		 stopOnFailure="false"
		 stopOnIncomplete="false"
		 stopOnSkipped="false"
		 displayDetailsOnTestsThatTriggerDeprecations="true"
		 displayDetailsOnTestsThatTriggerErrors="true"
		 displayDetailsOnTestsThatTriggerNotices="true"
		 displayDetailsOnTestsThatTriggerWarnings="true"
		>
	<php>
		<ini name="memory_limit" value="2048M"/>
	</php>
	<testsuite name="Aspen Discovery Unit Test Suite">
		<directory suffix="Tests.php">./tests</directory>
	</testsuite>
</phpunit>