.searchheader {
	padding: 0px;
	background: #868686; /* Old browsers */
	background: -moz-linear-gradient(top, #868686 0%, #adadad 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#868686), color-stop(100%,#adadad)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #868686 0%,#adadad 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #868686 0%,#adadad 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #868686 0%,#adadad 100%); /* IE10+ */
	background: linear-gradient(to bottom, #868686 0%,#adadad 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */
}

.searchheader a, .searchheader a:visited{
	color: white;
}
.searchheader a:hover{
	color: #DF6E29;
}
.searchHomeForm {
	background-color: #DF6E29;
	border-color: black;
}

