includes:
    - phpstan-baseline.neon
parameters:
    level: 0
    paths:
        - .
    scanDirectories:
        - vendor
        - sys/File
    excludePaths:
        analyse:
            - Minify/*
            - vendor/*
            - sys/mobileesp/mdetect.php
            - sys/mobile_device_detect.php
            - sys/Smarty/sysplugins/*
            - sys/File/MARC/*
            - sys/Smarty/plugins/*
            - CAS-1.3.4/*