parameters:
	ignoreErrors:
		-
			message: '#^Method CatalogConnection\:\:sendAspenPasswordResetEmailForBarcode\(\) invoked with 1 parameter, 2 required\.$#'
			identifier: arguments.count
			count: 1
			path: CatalogConnection.php

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$pmtAmount follows optional parameter \$pmtType\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: Drivers/Nashville.php

		-
			message: '#^Access to static property \$scopingLocationCode on an unknown class Millennium\.$#'
			identifier: class.notFound
			count: 2
			path: bootstrap_aspen.php

		-
			message: '#^Function validateGroupedWork invoked with 6 parameters, 8 required\.$#'
			identifier: arguments.count
			count: 1
			path: migrations/cleanupPikaReadingHistory.php

		-
			message: '#^Function getUserIdForBarcode invoked with 3 parameters, 4 required\.$#'
			identifier: arguments.count
			count: 5
			path: migrations/importPikaData.php

		-
			message: '#^Function validateGroupedWork invoked with 7 parameters, 8 required\.$#'
			identifier: arguments.count
			count: 1
			path: migrations/importPikaData.php

		-
			message: '#^Array has 2 duplicate keys with value ''format'' \(''format'', ''format''\)\.$#'
			identifier: array.duplicateKey
			count: 2
			path: services/API/ItemAPI.php

		-
			message: '#^Undefined variable\: \$hold_result$#'
			identifier: variable.undefined
			count: 2
			path: services/API/UserAPI.php

		-
			message: '#^Inner named functions are not supported by PHPStan\. Consider refactoring to an anonymous function, class method, or a top\-level\-defined function\. See issue \#165 \(https\://github\.com/phpstan/phpstan/issues/165\) for more details\.$#'
			identifier: function.inner
			count: 1
			path: services/Greenhouse/AspenLiDABuildTracker.php

		-
			message: '#^Function mask not found\.$#'
			identifier: function.notFound
			count: 2
			path: services/MyAccount/AJAX.php

		-
			message: '#^Function mask_email not found\.$#'
			identifier: function.notFound
			count: 1
			path: services/MyAccount/AJAX.php

		-
			message: '#^Inner named functions are not supported by PHPStan\. Consider refactoring to an anonymous function, class method, or a top\-level\-defined function\. See issue \#165 \(https\://github\.com/phpstan/phpstan/issues/165\) for more details\.$#'
			identifier: function.inner
			count: 2
			path: services/MyAccount/AJAX.php

		-
			message: '#^Method CASAuthentication\:\:validateAccount\(\) should return AspenError\|bool\|string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: sys/Authentication/CASAuthentication.php

		-
			message: '#^Instantiated class SimpleSAML\\Auth\\Simple not found\.$#'
			identifier: class.notFound
			count: 1
			path: sys/Authentication/SAML2Authentication.php

		-
			message: '#^Path in require_once\(\) "/usr/share/simplesamlphp/lib/_autoload\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: sys/Authentication/SAML2Authentication.php

		-
			message: '#^Deprecated in PHP 8\.0\: Required parameter \$displayBranchOnThumbnail follows optional parameter \$branch\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: sys/Covers/EventCoverBuilder.php

		-
			message: '#^Array has 2 duplicate keys with value ''drop_date_of_birth_from_user_table'' \(''drop_date_of_birth_from_user_table'', ''drop_date_of_birth_from_user_table''\)\.$#'
			identifier: array.duplicateKey
			count: 1
			path: sys/DBMaintenance/community_engagement_updates.php

		-
			message: '#^Access to an undefined property File_MARCJSON\:\:\$text\.$#'
			identifier: property.notFound
			count: 2
			path: sys/File/MARCJSON.php

		-
			message: '#^Undefined variable\: \$configArray$#'
			identifier: variable.undefined
			count: 1
			path: sys/Interface.php

		-
			message: '#^Class GroupedWorksSolrConnector not found\.$#'
			identifier: class.notFound
			count: 4
			path: sys/SearchObject/AbstractGroupedWorkSearcher.php

		-
			message: '#^Cannot unset offset ''method'' on array\{type\: ''query'', field\: \(int\|string\), limit\: 30, mincount\: 1, domain\?\: array\{excludeTags\: string\}\}\.$#'
			identifier: unset.offset
			count: 1
			path: sys/SearchObject/SolrSearcher.php

		-
			message: '#^Undefined variable\: \$orderedListOfIDs$#'
			identifier: variable.undefined
			count: 1
			path: sys/SearchObject/SolrSearcher.php

		-
			message: '#^Undefined variable\: \$jsonFacets$#'
			identifier: variable.undefined
			count: 1
			path: sys/SearchObject/TalpaSearcher.php
