parameters:
    level: 0
    paths:
        - .
    scanDirectories:
        - vendor
    excludePaths:
        analyse:
            - vendor/*
            - sys/mobileesp/mdetect.php
            - sys/mobile_device_detect.php
            - Minify/FirePHP.php
            - Minify/ImportProcessor.php
    # scanFiles:
    #     - sys/Session/SessionInterface.php
    #     - sys/Smarty/Smarty.class.php
    #     - sys/Session/MySQLSession.php
    #     - sys/File/MARCJSON.php
    # scanDirectories:
    #     - Minify
    #     - sys/Smarty/sysplugins
    #     - sys/Smarty/plugins
    #     - sys/File/MARC
    #     - CAS-1.3.4
    # excludePaths:
    #     analyse:
    #         - vendor
    #         - sys/Session/SessionInterface.php
    #         - sys/Session/MySQLSession.php   
    #         - sys/Smarty/Smarty.class.php  
    #         - sys/File/MARCJSON.php 
    #         - Minify/*
    #         - sys/Smarty/sysplugins
    #         - sys/Smarty/plugins
    #         - CAS-1.3.4
    #         - Drivers/SIP2Driver.php
    #         - sys/File/MARC/*
    #         - services/SnapPay/Complete.php

    # ignoreErrors:
    #     - '#Attribute class JetBrains\\PhpStorm\\NoReturn does not exist.#'