/*****************Homepage*******************/
.searchHomeForm {
	background-color:#0066A4;
	border-top:#408BBD 2px solid;
}

.footerCol{
	width: auto !important; 
}
.footerCol li{
	padding-bottom: 3px;
}
.footerCol ul{
	margin: 4px 0px;
}